/*
* 
*/
.boxshadow-none {
	box-shadow: none;
}
.border-none {
	border-style: none;
}

.command:hover {
	background-color: #F4F4F4;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.screen {
	maegin: 0px;
	padding: 2px;
}

#console {
	width: 100%;
	height: 20em;
}

iframe {
	width: 100%;
	height: 44em;
	border-style: none;
}

.terminal {
	font-size: 12px;
	margin: 0px;
}
