<div id="main">
	<div class="sect1">
		<h2 id="_name">NAME</h2>
		<div class="sectionbody"><div class="paragraph">
			<p>git-clone - Clone a repository into a new directory</p>
			</div></div>
	</div>

	<div class="sect1">
		<h2 id="_synopsis">SYNOPSIS</h2>
		<div class="sectionbody"><div class="verseblock">
			<pre class="content">'git clone' [--template=&lt;template_directory&gt;]
	  [-l] [-s] [--no-hardlinks] [-q] [-n] [--bare] [--mirror]
	  [-o &lt;name&gt;] [-b &lt;name&gt;] [-u &lt;upload-pack&gt;] [--reference &lt;repository&gt;]
	  [--dissociate] [--separate-git-dir &lt;git dir&gt;]
	  [--depth &lt;depth&gt;] [--[no-]single-branch]
	  [--recursive | --recurse-submodules] [--] &lt;repository&gt;
	  [&lt;directory&gt;]</pre>
			</div></div>
	</div>

	<div class="sect1">
		<h2 id="_description">DESCRIPTION</h2>
		<div class="sectionbody"><div class="paragraph">
			<p>Clones a repository into a newly created directory, creates
				remote-tracking branches for each branch in the cloned repository
				(visible using <code>git branch -r</code>), and creates and checks out an
				initial branch that is forked from the cloned repository’s
				currently active branch.</p>
			</div>
			<div class="paragraph">
				<p>After the clone, a plain <code>git fetch</code> without arguments will update
					all the remote-tracking branches, and a <code>git pull</code> without
					arguments will in addition merge the remote master branch into the
					current master branch, if any (this is untrue when "--single-branch"
					is given; see below).</p>
			</div>
			<div class="paragraph">
				<p>This default configuration is achieved by creating references to
					the remote branch heads under <code>refs/remotes/origin</code> and
					by initializing <code>remote.origin.url</code> and <code>remote.origin.fetch</code>
					configuration variables.</p>
			</div></div>
	</div>

	<div class="sect1">
		<h2 id="_options">OPTIONS</h2>
		<div class="sectionbody"><div class="dlist">
			<dl>
				<dt class="hdlist1">--local</dt>
				<dt class="hdlist1">-l</dt>
				<dd>
					<p>When the repository to clone from is on a local machine,
						this flag bypasses the normal "Git aware" transport
						mechanism and clones the repository by making a copy of
						HEAD and everything under objects and refs directories.
						The files under <code>.git/objects/</code> directory are hardlinked
						to save space when possible.</p>
					<div class="paragraph">
						<p>If the repository is specified as a local path (e.g., <code>/path/to/repo</code>),
							this is the default, and --local is essentially a no-op.  If the
							repository is specified as a URL, then this flag is ignored (and we
							never use the local optimizations).  Specifying <code>--no-local</code> will
							override the default when <code>/path/to/repo</code> is given, using the regular
							Git transport instead.</p>
					</div>
				</dd>
				<dt class="hdlist1">--no-hardlinks</dt>
				<dd>
					<p>Force the cloning process from a repository on a local
						filesystem to copy the files under the <code>.git/objects</code>
						directory instead of using hardlinks. This may be desirable
						if you are trying to make a back-up of your repository.</p>
				</dd>
				<dt class="hdlist1">--shared</dt>
				<dt class="hdlist1">-s</dt>
				<dd>
					<p>When the repository to clone is on the local machine,
						instead of using hard links, automatically setup
						<code>.git/objects/info/alternates</code> to share the objects
						with the source repository.  The resulting repository
						starts out without any object of its own.</p>
					<div class="paragraph">
						<p><strong>NOTE</strong>: this is a possibly dangerous operation; do <strong>not</strong> use
							it unless you understand what it does. If you clone your
							repository using this option and then delete branches (or use any
							other Git command that makes any existing commit unreferenced) in the
							source repository, some objects may become unreferenced (or dangling).
							These objects may be removed by normal Git operations (such as <code>git commit</code>)
							which automatically call <code>git gc --auto</code>. (See <a href="/docs/git-gc">git-gc[1]</a>.)
							If these objects are removed and were referenced by the cloned repository,
							then the cloned repository will become corrupt.</p>
					</div>
					<div class="paragraph">
						<p>Note that running <code>git repack</code> without the <code>-l</code> option in a repository
							cloned with <code>-s</code> will copy objects from the source repository into a pack
							in the cloned repository, removing the disk space savings of <code>clone -s</code>.
							It is safe, however, to run <code>git gc</code>, which uses the <code>-l</code> option by
							default.</p>
					</div>
					<div class="paragraph">
						<p>If you want to break the dependency of a repository cloned with <code>-s</code> on
							its source repository, you can simply run <code>git repack -a</code> to copy all
							objects from the source repository into a pack in the cloned repository.</p>
					</div>
				</dd>
				<dt class="hdlist1">--reference &lt;repository&gt;</dt>
				<dd>
					<p>If the reference repository is on the local machine,
						automatically setup <code>.git/objects/info/alternates</code> to
						obtain objects from the reference repository.  Using
						an already existing repository as an alternate will
						require fewer objects to be copied from the repository
						being cloned, reducing network and local storage costs.</p>
					<div class="paragraph">
						<p><strong>NOTE</strong>: see the NOTE for the <code>--shared</code> option, and also the
							<code>--dissociate</code> option.</p>
					</div>
				</dd>
				<dt class="hdlist1">--dissociate</dt>
				<dd>
					<p>Borrow the objects from reference repositories specified
						with the <code>--reference</code> options only to reduce network
						transfer and stop borrowing from them after a clone is made
						by making necessary local copies of borrowed objects.</p>
				</dd>
				<dt class="hdlist1">--quiet</dt>
				<dt class="hdlist1">-q</dt>
				<dd>
					<p>Operate quietly.  Progress is not reported to the standard
						error stream. This flag is also passed to the ‘rsync’
						command when given.</p>
				</dd>
				<dt class="hdlist1">--verbose</dt>
				<dt class="hdlist1">-v</dt>
				<dd>
					<p>Run verbosely. Does not affect the reporting of progress status
						to the standard error stream.</p>
				</dd>
				<dt class="hdlist1">--progress</dt>
				<dd>
					<p>Progress status is reported on the standard error stream
						by default when it is attached to a terminal, unless -q
						is specified. This flag forces progress status even if the
						standard error stream is not directed to a terminal.</p>
				</dd>
				<dt class="hdlist1">--no-checkout</dt>
				<dt class="hdlist1">-n</dt>
				<dd>
					<p>No checkout of HEAD is performed after the clone is complete.</p>
				</dd>
				<dt class="hdlist1">--bare</dt>
				<dd>
					<p>Make a <em>bare</em> Git repository.  That is, instead of
						creating <code>&lt;directory&gt;</code> and placing the administrative
						files in <code>&lt;directory&gt;/.git</code>, make the <code>&lt;directory&gt;</code>
						itself the <code>$GIT_DIR</code>. This obviously implies the <code>-n</code>
						because there is nowhere to check out the working tree.
						Also the branch heads at the remote are copied directly
						to corresponding local branch heads, without mapping
						them to <code>refs/remotes/origin/</code>.  When this option is
						used, neither remote-tracking branches nor the related
						configuration variables are created.</p>
				</dd>
				<dt class="hdlist1">--mirror</dt>
				<dd>
					<p>Set up a mirror of the source repository.  This implies <code>--bare</code>.
						Compared to <code>--bare</code>, <code>--mirror</code> not only maps local branches of the
						source to local branches of the target, it maps all refs (including
						remote-tracking branches, notes etc.) and sets up a refspec configuration such
						that all these refs are overwritten by a <code>git remote update</code> in the
						target repository.</p>
				</dd>
				<dt class="hdlist1">--origin &lt;name&gt;</dt>
				<dt class="hdlist1">-o &lt;name&gt;</dt>
				<dd>
					<p>Instead of using the remote name <code>origin</code> to keep track
						of the upstream repository, use <code>&lt;name&gt;</code>.</p>
				</dd>
				<dt class="hdlist1">--branch &lt;name&gt;</dt>
				<dt class="hdlist1">-b &lt;name&gt;</dt>
				<dd>
					<p>Instead of pointing the newly created HEAD to the branch pointed
						to by the cloned repository’s HEAD, point to <code>&lt;name&gt;</code> branch
						instead. In a non-bare repository, this is the branch that will
						be checked out.
						<code>--branch</code> can also take tags and detaches the HEAD at that commit
						in the resulting repository.</p>
				</dd>
				<dt class="hdlist1">--upload-pack &lt;upload-pack&gt;</dt>
				<dt class="hdlist1">-u &lt;upload-pack&gt;</dt>
				<dd>
					<p>When given, and the repository to clone from is accessed
						via ssh, this specifies a non-default path for the command
						run on the other end.</p>
				</dd>
				<dt class="hdlist1">--template=&lt;template_directory&gt;</dt>
				<dd>
					<p>Specify the directory from which templates will be used;
						(See the "TEMPLATE DIRECTORY" section of <a href="/docs/git-init">git-init[1]</a>.)</p>
				</dd>
				<dt class="hdlist1">--config &lt;key&gt;=&lt;value&gt;</dt>
				<dt class="hdlist1">-c &lt;key&gt;=&lt;value&gt;</dt>
				<dd>
					<p>Set a configuration variable in the newly-created repository;
						this takes effect immediately after the repository is
						initialized, but before the remote history is fetched or any
						files checked out.  The key is in the same format as expected by
						<a href="/docs/git-config">git-config[1]</a> (e.g., <code>core.eol=true</code>). If multiple
						values are given for the same key, each value will be written to
						the config file. This makes it safe, for example, to add
						additional fetch refspecs to the origin remote.</p>
				</dd>
				<dt class="hdlist1">--depth &lt;depth&gt;</dt>
				<dd>
					<p>Create a <em>shallow</em> clone with a history truncated to the
						specified number of revisions.</p>
				</dd>
				<dt class="hdlist1">--[no-]single-branch</dt>
				<dd>
					<p>Clone only the history leading to the tip of a single branch,
						either specified by the <code>--branch</code> option or the primary
						branch remote’s <code>HEAD</code> points at. When creating a shallow
						clone with the <code>--depth</code> option, this is the default, unless
						<code>--no-single-branch</code> is given to fetch the histories near the
						tips of all branches.
						Further fetches into the resulting repository will only update the
						remote-tracking branch for the branch this option was used for the
						initial cloning.  If the HEAD at the remote did not point at any
						branch when <code>--single-branch</code> clone was made, no remote-tracking
						branch is created.</p>
				</dd>
				<dt class="hdlist1">--recursive</dt>
				<dt class="hdlist1">--recurse-submodules</dt>
				<dd>
					<p>After the clone is created, initialize all submodules within,
						using their default settings. This is equivalent to running
						<code>git submodule update --init --recursive</code> immediately after
						the clone is finished. This option is ignored if the cloned
						repository does not have a worktree/checkout (i.e. if any of
						<code>--no-checkout</code>/<code>-n</code>, <code>--bare</code>, or <code>--mirror</code> is given)</p>
				</dd>
				<dt class="hdlist1">--separate-git-dir=&lt;git dir&gt;</dt>
				<dd>
					<p>Instead of placing the cloned repository where it is supposed
						to be, place the cloned repository at the specified directory,
						then make a filesystem-agnostic Git symbolic link to there.
						The result is Git repository can be separated from working
						tree.</p>
				</dd>
				<dt class="hdlist1">&lt;repository&gt;</dt>
				<dd>
					<p>The (possibly remote) repository to clone from.  See the
						<a href="#URLS">URLS</a> section below for more information on specifying
						repositories.</p>
				</dd>
				<dt class="hdlist1">&lt;directory&gt;</dt>
				<dd>
					<p>The name of a new directory to clone into.  The "humanish"
						part of the source repository is used if no directory is
						explicitly given (<code>repo</code> for <code>/path/to/repo.git</code> and <code>foo</code>
						for <code>host.xz:foo/.git</code>).  Cloning into an existing directory
						is only allowed if the directory is empty.</p>
				</dd>
			</dl>
			</div></div>
	</div>

	<div class="sect1">
		<h2 id="URLS">GIT URLS</h2>
		<div class="sectionbody"><div class="paragraph">
			<p>In general, URLs contain information about the transport protocol, the
				address of the remote server, and the path to the repository.
				Depending on the transport protocol, some of this information may be
				absent.</p>
			</div>
			<div class="paragraph">
				<p>Git supports ssh, git, http, and https protocols (in addition, ftp,
					and ftps can be used for fetching and rsync can be used for fetching
					and pushing, but these are inefficient and deprecated; do not use
					them).</p>
			</div>
			<div class="paragraph">
				<p>The native transport (i.e. git:// URL) does no authentication and
					should be used with caution on unsecured networks.</p>
			</div>
			<div class="paragraph">
				<p>The following syntaxes may be used with them:</p>
			</div>
			<div class="ulist">
				<ul>
					<li>
						<p>ssh://[user@]host.xz[:port]/path/to/repo.git/</p>
					</li>
					<li>
						<p>git://host.xz[:port]/path/to/repo.git/</p>
					</li>
					<li>
						<p>http[s]://host.xz[:port]/path/to/repo.git/</p>
					</li>
					<li>
						<p>ftp[s]://host.xz[:port]/path/to/repo.git/</p>
					</li>
					<li>
						<p>rsync://host.xz/path/to/repo.git/</p>
					</li>
				</ul>
			</div>
			<div class="paragraph">
				<p>An alternative scp-like syntax may also be used with the ssh protocol:</p>
			</div>
			<div class="ulist">
				<ul>
					<li>
						<p>[user@]host.xz:path/to/repo.git/</p>
					</li>
				</ul>
			</div>
			<div class="paragraph">
				<p>This syntax is only recognized if there are no slashes before the
					first colon. This helps differentiate a local path that contains a
					colon. For example the local path <code>foo:bar</code> could be specified as an
					absolute path or <code>./foo:bar</code> to avoid being misinterpreted as an ssh
					url.</p>
			</div>
			<div class="paragraph">
				<p>The ssh and git protocols additionally support ~username expansion:</p>
			</div>
			<div class="ulist">
				<ul>
					<li>
						<p>ssh://[user@]host.xz[:port]/~[user]/path/to/repo.git/</p>
					</li>
					<li>
						<p>git://host.xz[:port]/~[user]/path/to/repo.git/</p>
					</li>
					<li>
						<p>[user@]host.xz:/~[user]/path/to/repo.git/</p>
					</li>
				</ul>
			</div>
			<div class="paragraph">
				<p>For local repositories, also supported by Git natively, the following
					syntaxes may be used:</p>
			</div>
			<div class="ulist">
				<ul>
					<li>
						<p>/path/to/repo.git/</p>
					</li>
					<li>
						<p>\file:///path/to/repo.git/</p>
					</li>
				</ul>
			</div>
			<div class="paragraph">
				<p>These two syntaxes are mostly equivalent, except the former implies
					--local option.</p>
			</div>
			<div class="paragraph">
				<p>When Git doesn’t know how to handle a certain transport protocol, it
					attempts to use the <em>remote-&lt;transport&gt;</em> remote helper, if one
					exists. To explicitly request a remote helper, the following syntax
					may be used:</p>
			</div>
			<div class="ulist">
				<ul>
					<li>
						<p>&lt;transport&gt;::&lt;address&gt;</p>
					</li>
				</ul>
			</div>
			<div class="paragraph">
				<p>where &lt;address&gt; may be a path, a server and path, or an arbitrary
					URL-like string recognized by the specific remote helper being
					invoked. See <a href="/docs/gitremote-helpers">gitremote-helpers[1]</a> for details.</p>
			</div>
			<div class="paragraph">
				<p>If there are a large number of similarly-named remote repositories and
					you want to use a different format for them (such that the URLs you
					use will be rewritten into URLs that work), you can create a
					configuration section of the form:</p>
			</div>
			<div class="listingblock">
				<div class="content">
					<pre>	[url "&lt;actual url base&gt;"]
		insteadOf = &lt;other url base&gt;</pre>
				</div>
			</div>
			<div class="paragraph">
				<p>For example, with this:</p>
			</div>
			<div class="listingblock">
				<div class="content">
					<pre>	[url "git://git.host.xz/"]
		insteadOf = host.xz:/path/to/
		insteadOf = work:</pre>
				</div>
			</div>
			<div class="paragraph">
				<p>a URL like "work:repo.git" or like "host.xz:/path/to/repo.git" will be
					rewritten in any context that takes a URL to be "git://git.host.xz/repo.git".</p>
			</div>
			<div class="paragraph">
				<p>If you want to rewrite URLs for push only, you can create a
					configuration section of the form:</p>
			</div>
			<div class="listingblock">
				<div class="content">
					<pre>	[url "&lt;actual url base&gt;"]
		pushInsteadOf = &lt;other url base&gt;</pre>
				</div>
			</div>
			<div class="paragraph">
				<p>For example, with this:</p>
			</div>
			<div class="listingblock">
				<div class="content">
					<pre>	[url "ssh://example.org/"]
		pushInsteadOf = git://example.org/</pre>
				</div>
			</div>
			<div class="paragraph">
				<p>a URL like "git://example.org/path/to/repo.git" will be rewritten to
					"ssh://example.org/path/to/repo.git" for pushes, but pulls will still
					use the original URL.</p>
			</div></div>
	</div>

	<div class="sect1">
		<h2 id="_examples">Examples</h2>
		<div class="sectionbody"><div class="ulist">
			<ul>
				<li>
					<p>Clone from upstream:</p>
					<div class="listingblock">
						<div class="content">
							<pre>$ git clone git://git.kernel.org/pub/scm/.../linux.git my-linux
$ cd my-linux
$ make</pre>
						</div>
					</div>
				</li>
				<li>
					<p>Make a local clone that borrows from the current directory, without checking things out:</p>
					<div class="listingblock">
						<div class="content">
							<pre>$ git clone -l -s -n . ../copy
$ cd ../copy
$ git show-branch</pre>
						</div>
					</div>
				</li>
				<li>
					<p>Clone from upstream while borrowing from an existing local directory:</p>
					<div class="listingblock">
						<div class="content">
							<pre>$ git clone --reference /git/linux.git \
	git://git.kernel.org/pub/scm/.../linux.git \
	my-linux
$ cd my-linux</pre>
						</div>
					</div>
				</li>
				<li>
					<p>Create a bare repository to publish your changes to the public:</p>
					<div class="listingblock">
						<div class="content">
							<pre>$ git clone --bare -l /home/proj/.git /pub/scm/proj.git</pre>
						</div>
					</div>
				</li>
			</ul>
			</div></div>
	</div>

	<div class="sect1">
		<h2 id="_git">GIT</h2>
		<div class="sectionbody"><div class="paragraph">
			<p>Part of the <a href="/docs/git">git[1]</a> suite</p>
			</div></div>
	</div>

</div>