<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-checkout - Switch branches or restore working tree files</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git checkout' [-q] [-f] [-m] [&lt;branch&gt;]
'git checkout' [-q] [-f] [-m] --detach [&lt;branch&gt;]
'git checkout' [-q] [-f] [-m] [--detach] &lt;commit&gt;
'git checkout' [-q] [-f] [-m] [[-b|-B|--orphan] &lt;new_branch&gt;] [&lt;start_point&gt;]
'git checkout' [-f|--ours|--theirs|-m|--conflict=&lt;style&gt;] [&lt;tree-ish&gt;] [--] &lt;paths&gt;...
'git checkout' [-p|--patch] [&lt;tree-ish&gt;] [--] [&lt;paths&gt;...]</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Updates files in the working tree to match the version in the index
or the specified tree.  If no paths are given, 
                    <em>git checkout</em> will
also update 
                    <code>HEAD</code> to set the specified branch as the current
branch.
                </p>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">
                        <em>git checkout</em> &lt;branch&gt;
                    </dt>
                    <dd>
                        <p>To prepare for working on &lt;branch&gt;, switch to it by updating
the index and the files in the working tree, and by pointing
HEAD at the branch. Local modifications to the files in the
working tree are kept, so that they can be committed to the
&lt;branch&gt;.</p>
                        <div class="paragraph">
                            <p>If &lt;branch&gt; is not found but there does exist a tracking branch in
exactly one remote (call it &lt;remote&gt;) with a matching name, treat as
equivalent to</p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout -b &lt;branch&gt; --track &lt;remote&gt;/&lt;branch&gt;</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>You could omit &lt;branch&gt;, in which case the command degenerates to
"check out the current branch", which is a glorified no-op with a
rather expensive side-effects to show only the tracking information,
if exists, for the current branch.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">
                        <em>git checkout</em> -b|-B &lt;new_branch&gt; [&lt;start point&gt;]
                    </dt>
                    <dd>
                        <p>Specifying 
                            <code>-b</code> causes a new branch to be created as if

                            <a href="/docs/git-branch">git-branch[1]</a> were called and then checked out.  In
this case you can use the 
                            <code>--track</code> or 
                            <code>--no-track</code> options,
which will be passed to 
                            <em>git branch</em>.  As a convenience,

                            <code>--track</code> without 
                            <code>-b</code> implies branch creation; see the
description of 
                            <code>--track</code> below.
                        </p>
                        <div class="paragraph">
                            <p>If 
                                <code>-B</code> is given, &lt;new_branch&gt; is created if it doesn’t exist; otherwise, it
is reset. This is the transactional equivalent of
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git branch -f &lt;branch&gt; [&lt;start point&gt;]
$ git checkout &lt;branch&gt;</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>that is to say, the branch is not reset/created unless "git checkout" is
successful.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">
                        <em>git checkout</em> --detach [&lt;branch&gt;]
                    </dt>
                    <dt class="hdlist1">
                        <em>git checkout</em> [--detach] &lt;commit&gt;
                    </dt>
                    <dd>
                        <p>Prepare to work on top of &lt;commit&gt;, by detaching HEAD at it
(see "DETACHED HEAD" section), and updating the index and the
files in the working tree.  Local modifications to the files
in the working tree are kept, so that the resulting working
tree will be the state recorded in the commit plus the local
modifications.</p>
                        <div class="paragraph">
                            <p>When the &lt;commit&gt; argument is a branch name, the 
                                <code>--detach</code> option can
be used to detach HEAD at the tip of the branch (
                                <code>git checkout
&lt;branch&gt;</code> would check out that branch without detaching HEAD).
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>Omitting &lt;branch&gt; detaches HEAD at the tip of the current branch.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">
                        <em>git checkout</em> [-p|--patch] [&lt;tree-ish&gt;] [--] &lt;pathspec&gt;…
                    </dt>
                    <dd>
                        <p>When &lt;paths&gt; or 
                            <code>--patch</code> are given, 
                            <em>git checkout</em> does 
                            <strong>not</strong>
switch branches.  It updates the named paths in the working tree
from the index file or from a named &lt;tree-ish&gt; (most often a
commit).  In this case, the 
                            <code>-b</code> and 
                            <code>--track</code> options are
meaningless and giving either of them results in an error.  The
&lt;tree-ish&gt; argument can be used to specify a specific tree-ish
(i.e.  commit, tag or tree) to update the index for the given
paths before updating the working tree.
                        </p>
                        <div class="paragraph">
                            <p>
                                <em>git checkout</em> with &lt;paths&gt; or 
                                <code>--patch</code> is used to restore modified or
deleted paths to their original contents from the index or replace paths
with the contents from a named &lt;tree-ish&gt; (most often a commit-ish).
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>The index may contain unmerged entries because of a previous failed merge.
By default, if you try to check out such an entry from the index, the
checkout operation will fail and nothing will be checked out.
Using 
                                <code>-f</code> will ignore these unmerged entries.  The contents from a
specific side of the merge can be checked out of the index by
using 
                                <code>--ours</code> or 
                                <code>--theirs</code>.  With 
                                <code>-m</code>, changes made to the working tree
file can be discarded to re-create the original conflicted merge result.
                            </p>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-q</dt>
                    <dt class="hdlist1">--quiet</dt>
                    <dd>
                        <p>Quiet, suppress feedback messages.</p>
                    </dd>
                    <dt class="hdlist1">-f</dt>
                    <dt class="hdlist1">--force</dt>
                    <dd>
                        <p>When switching branches, proceed even if the index or the
working tree differs from HEAD.  This is used to throw away
local changes.</p>
                        <div class="paragraph">
                            <p>When checking out paths from the index, do not fail upon unmerged
entries; instead, unmerged entries are ignored.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--ours</dt>
                    <dt class="hdlist1">--theirs</dt>
                    <dd>
                        <p>When checking out paths from the index, check out stage #2
(
                            <em>ours</em>) or #3 (
                            <em>theirs</em>) for unmerged paths.
                        </p>
                    </dd>
                    <dt class="hdlist1">-b &lt;new_branch&gt;</dt>
                    <dd>
                        <p>Create a new branch named &lt;new_branch&gt; and start it at
&lt;start_point&gt;; see 
                            <a href="/docs/git-branch">git-branch[1]</a> for details.
                        </p>
                    </dd>
                    <dt class="hdlist1">-B &lt;new_branch&gt;</dt>
                    <dd>
                        <p>Creates the branch &lt;new_branch&gt; and start it at &lt;start_point&gt;;
if it already exists, then reset it to &lt;start_point&gt;. This is
equivalent to running "git branch" with "-f"; see

                            <a href="/docs/git-branch">git-branch[1]</a> for details.
                        </p>
                    </dd>
                    <dt class="hdlist1">-t</dt>
                    <dt class="hdlist1">--track</dt>
                    <dd>
                        <p>When creating a new branch, set up "upstream" configuration. See
"--track" in 
                            <a href="/docs/git-branch">git-branch[1]</a> for details.
                        </p>
                        <div class="paragraph">
                            <p>If no 
                                <em>-b</em> option is given, the name of the new branch will be
derived from the remote-tracking branch, by looking at the local part of
the refspec configured for the corresponding remote, and then stripping
the initial part up to the "*".
This would tell us to use "hack" as the local branch when branching
off of "origin/hack" (or "remotes/origin/hack", or even
"refs/remotes/origin/hack").  If the given name has no slash, or the above
guessing results in an empty name, the guessing is aborted.  You can
explicitly give a name with 
                                <em>-b</em> in such a case.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--no-track</dt>
                    <dd>
                        <p>Do not set up "upstream" configuration, even if the
branch.autoSetupMerge configuration variable is true.</p>
                    </dd>
                    <dt class="hdlist1">-l</dt>
                    <dd>
                        <p>Create the new branch’s reflog; see 
                            <a href="/docs/git-branch">git-branch[1]</a> for
details.
                        </p>
                    </dd>
                    <dt class="hdlist1">--detach</dt>
                    <dd>
                        <p>Rather than checking out a branch to work on it, check out a
commit for inspection and discardable experiments.
This is the default behavior of "git checkout &lt;commit&gt;" when
&lt;commit&gt; is not a branch name.  See the "DETACHED HEAD" section
below for details.</p>
                    </dd>
                    <dt class="hdlist1">--orphan &lt;new_branch&gt;</dt>
                    <dd>
                        <p>Create a new 
                            <em>orphan</em> branch, named &lt;new_branch&gt;, started from
&lt;start_point&gt; and switch to it.  The first commit made on this
new branch will have no parents and it will be the root of a new
history totally disconnected from all the other branches and
commits.
                        </p>
                        <div class="paragraph">
                            <p>The index and the working tree are adjusted as if you had previously run
"git checkout &lt;start_point&gt;".  This allows you to start a new history
that records a set of paths similar to &lt;start_point&gt; by easily running
"git commit -a" to make the root commit.</p>
                        </div>
                        <div class="paragraph">
                            <p>This can be useful when you want to publish the tree from a commit
without exposing its full history. You might want to do this to publish
an open source branch of a project whose current tree is "clean", but
whose full history contains proprietary or otherwise encumbered bits of
code.</p>
                        </div>
                        <div class="paragraph">
                            <p>If you want to start a disconnected history that records a set of paths
that is totally different from the one of &lt;start_point&gt;, then you should
clear the index and the working tree right after creating the orphan
branch by running "git rm -rf ." from the top level of the working tree.
Afterwards you will be ready to prepare your new files, repopulating the
working tree, by copying them from elsewhere, extracting a tarball, etc.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--ignore-skip-worktree-bits</dt>
                    <dd>
                        <p>In sparse checkout mode, 
                            <code>git checkout -- &lt;paths&gt;</code> would
update only entries matched by &lt;paths&gt; and sparse patterns
in $GIT_DIR/info/sparse-checkout. This option ignores
the sparse patterns and adds back any files in &lt;paths&gt;.
                        </p>
                    </dd>
                    <dt class="hdlist1">-m</dt>
                    <dt class="hdlist1">--merge</dt>
                    <dd>
                        <p>When switching branches,
if you have local modifications to one or more files that
are different between the current branch and the branch to
which you are switching, the command refuses to switch
branches in order to preserve your modifications in context.
However, with this option, a three-way merge between the current
branch, your working tree contents, and the new branch
is done, and you will be on the new branch.</p>
                        <div class="paragraph">
                            <p>When a merge conflict happens, the index entries for conflicting
paths are left unmerged, and you need to resolve the conflicts
and mark the resolved paths with 
                                <code>git add</code> (or 
                                <code>git rm</code> if the merge
should result in deletion of the path).
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>When checking out paths from the index, this option lets you recreate
the conflicted merge in the specified paths.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--conflict=&lt;style&gt;</dt>
                    <dd>
                        <p>The same as --merge option above, but changes the way the
conflicting hunks are presented, overriding the
merge.conflictStyle configuration variable.  Possible values are
"merge" (default) and "diff3" (in addition to what is shown by
"merge" style, shows the original contents).</p>
                    </dd>
                    <dt class="hdlist1">-p</dt>
                    <dt class="hdlist1">--patch</dt>
                    <dd>
                        <p>Interactively select hunks in the difference between the
&lt;tree-ish&gt; (or the index, if unspecified) and the working
tree.  The chosen hunks are then applied in reverse to the
working tree (and if a &lt;tree-ish&gt; was specified, the index).</p>
                        <div class="paragraph">
                            <p>This means that you can use 
                                <code>git checkout -p</code> to selectively discard
edits from your current working tree. See the “Interactive Mode”
section of 
                                <a href="/docs/git-add">git-add[1]</a> to learn how to operate the 
                                <code>--patch</code> mode.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--ignore-other-worktrees</dt>
                    <dd>
                        <p>
                            <code>git checkout</code> refuses when the wanted ref is already checked
out by another worktree. This option makes it check the ref
out anyway. In other words, the ref can be held by more than one
worktree.
                        </p>
                    </dd>
                    <dt class="hdlist1">&lt;branch&gt;</dt>
                    <dd>
                        <p>Branch to checkout; if it refers to a branch (i.e., a name that,
when prepended with "refs/heads/", is a valid ref), then that
branch is checked out. Otherwise, if it refers to a valid
commit, your HEAD becomes "detached" and you are no longer on
any branch (see below for details).</p>
                        <div class="paragraph">
                            <p>As a special case, the 
                                <code>"@{-N}"</code> syntax for the N-th last branch/commit
checks out branches (instead of detaching).  You may also specify

                                <code>-</code> which is synonymous with 
                                <code>"@{-1}"</code>.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>As a further special case, you may use 
                                <code>"A...B"</code> as a shortcut for the
merge base of 
                                <code>A</code> and 
                                <code>B</code> if there is exactly one merge base. You can
leave out at most one of 
                                <code>A</code> and 
                                <code>B</code>, in which case it defaults to 
                                <code>HEAD</code>.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">&lt;new_branch&gt;</dt>
                    <dd>
                        <p>Name for the new branch.</p>
                    </dd>
                    <dt class="hdlist1">&lt;start_point&gt;</dt>
                    <dd>
                        <p>The name of a commit at which to start the new branch; see

                            <a href="/docs/git-branch">git-branch[1]</a> for details. Defaults to HEAD.
                        </p>
                    </dd>
                    <dt class="hdlist1">&lt;tree-ish&gt;</dt>
                    <dd>
                        <p>Tree to checkout from (when paths are given). If not specified,
the index will be used.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_detached_head">DETACHED HEAD</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>HEAD normally refers to a named branch (e.g. 
                    <em>master</em>). Meanwhile, each
branch refers to a specific commit. Let’s look at a repo with three
commits, one of them tagged, and with branch 
                    <em>master</em> checked out:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>	   HEAD (refers to branch 'master')
	    |
	    v
a---b---c  branch 'master' (refers to commit 'c')
    ^
    |
  tag 'v2.0' (refers to commit 'b')</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>When a commit is created in this state, the branch is updated to refer to
the new commit. Specifically, 
                    <em>git commit</em> creates a new commit 
                    <em>d</em>, whose
parent is commit 
                    <em>c</em>, and then updates branch 
                    <em>master</em> to refer to new
commit 
                    <em>d</em>. HEAD still refers to branch 
                    <em>master</em> and so indirectly now refers
to commit 
                    <em>d</em>:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ edit; git add; git commit

	       HEAD (refers to branch 'master')
		|
		v
a---b---c---d  branch 'master' (refers to commit 'd')
    ^
    |
  tag 'v2.0' (refers to commit 'b')</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>It is sometimes useful to be able to checkout a commit that is not at
the tip of any named branch, or even to create a new commit that is not
referenced by a named branch. Let’s look at what happens when we
checkout commit 
                    <em>b</em> (here we show two ways this may be done):
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ git checkout v2.0  # or
$ git checkout master^^

   HEAD (refers to commit 'b')
    |
    v
a---b---c---d  branch 'master' (refers to commit 'd')
    ^
    |
  tag 'v2.0' (refers to commit 'b')</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>Notice that regardless of which checkout command we use, HEAD now refers
directly to commit 
                    <em>b</em>. This is known as being in detached HEAD state.
It means simply that HEAD refers to a specific commit, as opposed to
referring to a named branch. Let’s see what happens when we create a commit:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ edit; git add; git commit

     HEAD (refers to commit 'e')
      |
      v
      e
     /
a---b---c---d  branch 'master' (refers to commit 'd')
    ^
    |
  tag 'v2.0' (refers to commit 'b')</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>There is now a new commit 
                    <em>e</em>, but it is referenced only by HEAD. We can
of course add yet another commit in this state:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ edit; git add; git commit

	 HEAD (refers to commit 'f')
	  |
	  v
      e---f
     /
a---b---c---d  branch 'master' (refers to commit 'd')
    ^
    |
  tag 'v2.0' (refers to commit 'b')</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>In fact, we can perform all the normal Git operations. But, let’s look
at what happens when we then checkout master:</p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ git checkout master

	       HEAD (refers to branch 'master')
      e---f     |
     /          v
a---b---c---d  branch 'master' (refers to commit 'd')
    ^
    |
  tag 'v2.0' (refers to commit 'b')</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>It is important to realize that at this point nothing refers to commit

                    <em>f</em>. Eventually commit 
                    <em>f</em> (and by extension commit 
                    <em>e</em>) will be deleted
by the routine Git garbage collection process, unless we create a reference
before that happens. If we have not yet moved away from commit 
                    <em>f</em>,
any of these will create a reference to it:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ git checkout -b foo   
                        <b>(1)</b>
$ git branch foo        
                        <b>(2)</b>
$ git tag foo           
                        <b>(3)</b>
                    </pre>
                </div>
            </div>
            <div class="colist arabic">
                <ol>
                    <li>
                        <p>creates a new branch 
                            <em>foo</em>, which refers to commit 
                            <em>f</em>, and then
updates HEAD to refer to branch 
                            <em>foo</em>. In other words, we’ll no longer
be in detached HEAD state after this command.
                        </p>
                    </li>
                    <li>
                        <p>similarly creates a new branch 
                            <em>foo</em>, which refers to commit 
                            <em>f</em>,
but leaves HEAD detached.
                        </p>
                    </li>
                    <li>
                        <p>creates a new tag 
                            <em>foo</em>, which refers to commit 
                            <em>f</em>,
leaving HEAD detached.
                        </p>
                    </li>
                </ol>
            </div>
            <div class="paragraph">
                <p>If we have moved away from commit 
                    <em>f</em>, then we must first recover its object
name (typically by using git reflog), and then we can create a reference to
it. For example, to see the last two commits to which HEAD referred, we
can use either of these commands:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>$ git reflog -2 HEAD # or
$ git log -g -2 HEAD</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">EXAMPLES</h2>
        <div class="sectionbody">
            <div class="olist arabic">
                <ol class="arabic">
                    <li>
                        <p>The following sequence checks out the 
                            <code>master</code> branch, reverts
the 
                            <code>Makefile</code> to two revisions back, deletes hello.c by
mistake, and gets it back from the index.
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout master             
                                    <b>(1)</b>
$ git checkout master~2 Makefile  
                                    <b>(2)</b>
$ rm -f hello.c
$ git checkout hello.c            
                                    <b>(3)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>switch branch</p>
                                </li>
                                <li>
                                    <p>take a file out of another commit</p>
                                </li>
                                <li>
                                    <p>restore hello.c from the index</p>
                                </li>
                            </ol>
                        </div>
                        <div class="paragraph">
                            <p>If you want to check out 
                                <em>all</em> C source files out of the index,
you can say
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout -- '*.c'</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>Note the quotes around 
                                <code>*.c</code>.  The file 
                                <code>hello.c</code> will also be
checked out, even though it is no longer in the working tree,
because the file globbing is used to match entries in the index
(not in the working tree by the shell).
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>If you have an unfortunate branch that is named 
                                <code>hello.c</code>, this
step would be confused as an instruction to switch to that branch.
You should instead write:
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout -- hello.c</pre>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>After working in the wrong branch, switching to the correct
branch would be done using:</p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout mytopic</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>However, your "wrong" branch and correct "mytopic" branch may
differ in files that you have modified locally, in which case
the above checkout would fail like this:</p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout mytopic
error: You have local changes to 'frotz'; not switching branches.</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>You can give the 
                                <code>-m</code> flag to the command, which would try a
three-way merge:
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout -m mytopic
Auto-merging frotz</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>After this three-way merge, the local modifications are 
                                <em>not</em>
registered in your index file, so 
                                <code>git diff</code> would show you what
changes you made since the tip of the new branch.
                            </p>
                        </div>
                    </li>
                    <li>
                        <p>When a merge conflict happens during switching branches with
the 
                            <code>-m</code> option, you would see something like this:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout -m mytopic
Auto-merging frotz
ERROR: Merge conflict in frotz
fatal: merge program failed</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>At this point, 
                                <code>git diff</code> shows the changes cleanly merged as in
the previous example, as well as the changes in the conflicted
files.  Edit and resolve the conflict and mark it resolved with

                                <code>git add</code> as usual:
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ edit frotz
$ git add frotz</pre>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>