<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-reset - Reset current HEAD to the specified state</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git reset' [-q] [&lt;tree-ish&gt;] [--] &lt;paths&gt;...
'git reset' (--patch | -p) [&lt;tree-ish&gt;] [--] [&lt;paths&gt;...]
'git reset' [--soft | --mixed [-N] | --hard | --merge | --keep] [-q] [&lt;commit&gt;]</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>In the first and second form, copy entries from &lt;tree-ish&gt; to the index.
In the third form, set the current branch head (HEAD) to &lt;commit&gt;, optionally
modifying index and working tree to match.  The &lt;tree-ish&gt;/&lt;commit&gt; defaults
to HEAD in all forms.</p>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">
                        <em>git reset</em> [-q] [&lt;tree-ish&gt;] [--] &lt;paths&gt;…
                    </dt>
                    <dd>
                        <p>This form resets the index entries for all &lt;paths&gt; to their
state at &lt;tree-ish&gt;.  (It does not affect the working tree or
the current branch.)</p>
                        <div class="paragraph">
                            <p>This means that 
                                <code>git reset &lt;paths&gt;</code> is the opposite of 
                                <code>git add
&lt;paths&gt;</code>.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>After running 
                                <code>git reset &lt;paths&gt;</code> to update the index entry, you can
use 
                                <a href="/docs/git-checkout">git-checkout[1]</a> to check the contents out of the index to
the working tree.
Alternatively, using 
                                <a href="/docs/git-checkout">git-checkout[1]</a> and specifying a commit, you
can copy the contents of a path out of a commit to the index and to the
working tree in one go.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">
                        <em>git reset</em> (--patch | -p) [&lt;tree-ish&gt;] [--] [&lt;paths&gt;…]
                    </dt>
                    <dd>
                        <p>Interactively select hunks in the difference between the index
and &lt;tree-ish&gt; (defaults to HEAD).  The chosen hunks are applied
in reverse to the index.</p>
                        <div class="paragraph">
                            <p>This means that 
                                <code>git reset -p</code> is the opposite of 
                                <code>git add -p</code>, i.e.
you can use it to selectively reset hunks. See the “Interactive Mode”
section of 
                                <a href="/docs/git-add">git-add[1]</a> to learn how to operate the 
                                <code>--patch</code> mode.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">
                        <em>git reset</em> [&lt;mode&gt;] [&lt;commit&gt;]
                    </dt>
                    <dd>
                        <p>This form resets the current branch head to &lt;commit&gt; and
possibly updates the index (resetting it to the tree of &lt;commit&gt;) and
the working tree depending on &lt;mode&gt;. If &lt;mode&gt; is omitted,
defaults to "--mixed". The &lt;mode&gt; must be one of the following:</p>
                        <div class="openblock">
                            <div class="content">
                                <div class="dlist">
                                    <dl>
                                        <dt class="hdlist1">--soft</dt>
                                        <dd>
                                            <p>Does not touch the index file or the working tree at all (but
resets the head to &lt;commit&gt;, just like all modes do). This leaves
all your changed files "Changes to be committed", as 
                                                <em>git status</em>
would put it.
                                            </p>
                                        </dd>
                                        <dt class="hdlist1">--mixed</dt>
                                        <dd>
                                            <p>Resets the index but not the working tree (i.e., the changed files
are preserved but not marked for commit) and reports what has not
been updated. This is the default action.</p>
                                            <div class="paragraph">
                                                <p>If 
                                                    <code>-N</code> is specified, removed paths are marked as intent-to-add (see

                                                    <a href="/docs/git-add">git-add[1]</a>).
                                                </p>
                                            </div>
                                        </dd>
                                        <dt class="hdlist1">--hard</dt>
                                        <dd>
                                            <p>Resets the index and working tree. Any changes to tracked files in the
working tree since &lt;commit&gt; are discarded.</p>
                                        </dd>
                                        <dt class="hdlist1">--merge</dt>
                                        <dd>
                                            <p>Resets the index and updates the files in the working tree that are
different between &lt;commit&gt; and HEAD, but keeps those which are
different between the index and working tree (i.e. which have changes
which have not been added).
If a file that is different between &lt;commit&gt; and the index has unstaged
changes, reset is aborted.</p>
                                            <div class="paragraph">
                                                <p>In other words, --merge does something like a 
                                                    <em>git read-tree -u -m &lt;commit&gt;</em>,
but carries forward unmerged index entries.
                                                </p>
                                            </div>
                                        </dd>
                                        <dt class="hdlist1">--keep</dt>
                                        <dd>
                                            <p>Resets index entries and updates files in the working tree that are
different between &lt;commit&gt; and HEAD.
If a file that is different between &lt;commit&gt; and HEAD has local changes,
reset is aborted.</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="paragraph">
                <p>If you want to undo a commit other than the latest on a branch,

                    <a href="/docs/git-revert">git-revert[1]</a> is your friend.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-q</dt>
                    <dt class="hdlist1">--quiet</dt>
                    <dd>
                        <p>Be quiet, only report errors.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">EXAMPLES</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">Undo add</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ edit                                     
                                    <b>(1)</b>
$ git add frotz.c filfre.c
$ mailx                                    
                                    <b>(2)</b>
$ git reset                                
                                    <b>(3)</b>
$ git pull git://info.example.com/ nitfol  
                                    <b>(4)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>You are happily working on something, and find the changes
in these files are in good order.  You do not want to see them
when you run "git diff", because you plan to work on other files
and changes with these files are distracting.</p>
                                </li>
                                <li>
                                    <p>Somebody asks you to pull, and the changes sounds worthy of merging.</p>
                                </li>
                                <li>
                                    <p>However, you already dirtied the index (i.e. your index does
not match the HEAD commit).  But you know the pull you are going
to make does not affect frotz.c or filfre.c, so you revert the
index changes for these two files.  Your changes in working tree
remain there.</p>
                                </li>
                                <li>
                                    <p>Then you can pull and merge, leaving frotz.c and filfre.c
changes still in the working tree.</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Undo a commit and redo</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git commit ...
$ git reset --soft HEAD^      
                                    <b>(1)</b>
$ edit                        
                                    <b>(2)</b>
$ git commit -a -c ORIG_HEAD  
                                    <b>(3)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>This is most often done when you remembered what you
just committed is incomplete, or you misspelled your commit
message, or both.  Leaves working tree as it was before "reset".</p>
                                </li>
                                <li>
                                    <p>Make corrections to working tree files.</p>
                                </li>
                                <li>
                                    <p>"reset" copies the old head to .git/ORIG_HEAD; redo the
commit by starting with its log message.  If you do not need to
edit the message further, you can give -C option instead.</p>
                                </li>
                            </ol>
                        </div>
                        <div class="paragraph">
                            <p>See also the --amend option to 
                                <a href="/docs/git-commit">git-commit[1]</a>.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">Undo a commit, making it a topic branch</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git branch topic/wip     
                                    <b>(1)</b>
$ git reset --hard HEAD~3  
                                    <b>(2)</b>
$ git checkout topic/wip   
                                    <b>(3)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>You have made some commits, but realize they were premature
to be in the "master" branch.  You want to continue polishing
them in a topic branch, so create "topic/wip" branch off of the
current HEAD.</p>
                                </li>
                                <li>
                                    <p>Rewind the master branch to get rid of those three commits.</p>
                                </li>
                                <li>
                                    <p>Switch to "topic/wip" branch and keep working.</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Undo commits permanently</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git commit ...
$ git reset --hard HEAD~3   
                                    <b>(1)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>The last three commits (HEAD, HEAD^, and HEAD~2) were bad
and you do not want to ever see them again.  Do 
                                        <strong>not</strong> do this if
you have already given these commits to somebody else.  (See the
"RECOVERING FROM UPSTREAM REBASE" section in 
                                        <a href="/docs/git-rebase">git-rebase[1]</a> for
the implications of doing so.)
                                    </p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Undo a merge or pull</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git pull                         
                                    <b>(1)</b>
Auto-merging nitfol
CONFLICT (content): Merge conflict in nitfol
Automatic merge failed; fix conflicts and then commit the result.
$ git reset --hard                 
                                    <b>(2)</b>
$ git pull . topic/branch          
                                    <b>(3)</b>
Updating from 41223... to 13134...
Fast-forward
$ git reset --hard ORIG_HEAD       
                                    <b>(4)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>Try to update from the upstream resulted in a lot of
conflicts; you were not ready to spend a lot of time merging
right now, so you decide to do that later.</p>
                                </li>
                                <li>
                                    <p>"pull" has not made merge commit, so "git reset --hard"
which is a synonym for "git reset --hard HEAD" clears the mess
from the index file and the working tree.</p>
                                </li>
                                <li>
                                    <p>Merge a topic branch into the current branch, which resulted
in a fast-forward.</p>
                                </li>
                                <li>
                                    <p>But you decided that the topic branch is not ready for public
consumption yet.  "pull" or "merge" always leaves the original
tip of the current branch in ORIG_HEAD, so resetting hard to it
brings your index file and the working tree back to that state,
and resets the tip of the branch to that commit.</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Undo a merge or pull inside a dirty working tree</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git pull                         
                                    <b>(1)</b>
Auto-merging nitfol
Merge made by recursive.
 nitfol                |   20 +++++----
 ...
$ git reset --merge ORIG_HEAD      
                                    <b>(2)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>Even if you may have local modifications in your
working tree, you can safely say "git pull" when you know
that the change in the other branch does not overlap with
them.</p>
                                </li>
                                <li>
                                    <p>After inspecting the result of the merge, you may find
that the change in the other branch is unsatisfactory.  Running
"git reset --hard ORIG_HEAD" will let you go back to where you
were, but it will discard your local changes, which you do not
want.  "git reset --merge" keeps your local changes.</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Interrupted workflow</dt>
                    <dd>
                        <div class="paragraph">
                            <p>Suppose you are interrupted by an urgent fix request while you
are in the middle of a large change.  The files in your
working tree are not in any shape to be committed yet, but you
need to get to the other branch for a quick bugfix.</p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git checkout feature ;# you were working in "feature" branch and
$ work work work       ;# got interrupted
$ git commit -a -m "snapshot WIP"                 
                                    <b>(1)</b>
$ git checkout master
$ fix fix fix
$ git commit ;# commit with real log
$ git checkout feature
$ git reset --soft HEAD^ ;# go back to WIP state  
                                    <b>(2)</b>
$ git reset                                       
                                    <b>(3)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>This commit will get blown away so a throw-away log message is OK.</p>
                                </li>
                                <li>
                                    <p>This removes the 
                                        <em>WIP</em> commit from the commit history, and sets
your working tree to the state just before you made that snapshot.
                                    </p>
                                </li>
                                <li>
                                    <p>At this point the index file still has all the WIP changes you
committed as 
                                        <em>snapshot WIP</em>.  This updates the index to show your
WIP files as uncommitted.
                                    </p>
                                </li>
                            </ol>
                        </div>
                        <div class="paragraph">
                            <p>See also 
                                <a href="/docs/git-stash">git-stash[1]</a>.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">Reset a single file in the index</dt>
                    <dd>
                        <div class="paragraph">
                            <p>Suppose you have added a file to your index, but later decide you do not
want to add it to your commit. You can remove the file from the index
while keeping your changes with git reset.</p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git reset -- frotz.c                      
                                    <b>(1)</b>
$ git commit -m "Commit files in index"     
                                    <b>(2)</b>
$ git add frotz.c                           
                                    <b>(3)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>This removes the file from the index while keeping it in the working
directory.</p>
                                </li>
                                <li>
                                    <p>This commits all other changes in the index.</p>
                                </li>
                                <li>
                                    <p>Adds the file to the index again.</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Keep changes in working tree while discarding some previous commits</dt>
                    <dd>
                        <div class="paragraph">
                            <p>Suppose you are working on something and you commit it, and then you
continue working a bit more, but now you think that what you have in
your working tree should be in another branch that has nothing to do
with what you committed previously. You can start a new branch and
reset it while keeping the changes in your working tree.</p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git tag start
$ git checkout -b branch1
$ edit
$ git commit ...                            
                                    <b>(1)</b>
$ edit
$ git checkout -b branch2                   
                                    <b>(2)</b>
$ git reset --keep start                    
                                    <b>(3)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>This commits your first edits in branch1.</p>
                                </li>
                                <li>
                                    <p>In the ideal world, you could have realized that the earlier
commit did not belong to the new topic when you created and switched
to branch2 (i.e. "git checkout -b branch2 start"), but nobody is
perfect.</p>
                                </li>
                                <li>
                                    <p>But you can use "reset --keep" to remove the unwanted commit after
you switched to "branch2".</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_discussion">DISCUSSION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The tables below show what happens when running:</p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>git reset --option target</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>to reset the HEAD to another commit (
                    <code>target</code>) with the different
reset options depending on the state of the files.
                </p>
            </div>
            <div class="paragraph">
                <p>In these tables, A, B, C and D are some different states of a
file. For example, the first line of the first table means that if a
file is in state A in the working tree, in state B in the index, in
state C in HEAD and in state D in the target, then "git reset --soft
target" will leave the file in the working tree in state A and in the
index in state B.  It resets (i.e. moves) the HEAD (i.e. the tip of
the current branch, if you are on one) to "target" (which has the file
in state D).</p>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 A       B     C    D     --soft   A       B     D
          --mixed  A       D     D
          --hard   D       D     D
          --merge (disallowed)
          --keep  (disallowed)</pre>
                </div>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 A       B     C    C     --soft   A       B     C
          --mixed  A       C     C
          --hard   C       C     C
          --merge (disallowed)
          --keep   A       C     C</pre>
                </div>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 B       B     C    D     --soft   B       B     D
          --mixed  B       D     D
          --hard   D       D     D
          --merge  D       D     D
          --keep  (disallowed)</pre>
                </div>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 B       B     C    C     --soft   B       B     C
          --mixed  B       C     C
          --hard   C       C     C
          --merge  C       C     C
          --keep   B       C     C</pre>
                </div>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 B       C     C    D     --soft   B       C     D
          --mixed  B       D     D
          --hard   D       D     D
          --merge (disallowed)
          --keep  (disallowed)</pre>
                </div>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 B       C     C    C     --soft   B       C     C
          --mixed  B       C     C
          --hard   C       C     C
          --merge  B       C     C
          --keep   B       C     C</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>"reset --merge" is meant to be used when resetting out of a conflicted
merge. Any mergy operation guarantees that the working tree file that is
involved in the merge does not have local change wrt the index before
it starts, and that it writes the result out to the working tree. So if
we see some difference between the index and the target and also
between the index and the working tree, then it means that we are not
resetting out from a state that a mergy operation left after failing
with a conflict. That is why we disallow --merge option in this case.</p>
            </div>
            <div class="paragraph">
                <p>"reset --keep" is meant to be used when removing some of the last
commits in the current branch while keeping changes in the working
tree. If there could be conflicts between the changes in the commit we
want to remove and the changes in the working tree we want to keep,
the reset is disallowed. That’s why it is disallowed if there are both
changes between the working tree and HEAD, and between HEAD and the
target. To be safe, it is also disallowed when there are unmerged
entries.</p>
            </div>
            <div class="paragraph">
                <p>The following tables show what happens when there are unmerged
entries:</p>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 X       U     A    B     --soft  (disallowed)
          --mixed  X       B     B
          --hard   B       B     B
          --merge  B       B     B
          --keep  (disallowed)</pre>
                </div>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>working index HEAD target         working index HEAD
----------------------------------------------------
 X       U     A    A     --soft  (disallowed)
          --mixed  X       A     A
          --hard   A       A     A
          --merge  A       A     A
          --keep  (disallowed)</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>X means any state and U means an unmerged index.</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>