<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-pull - Fetch from and integrate with another repository or a local branch</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git pull' [options] [&lt;repository&gt; [&lt;refspec&gt;...]]</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Incorporates changes from a remote repository into the current
branch.  In its default mode, 
                    <code>git pull</code> is shorthand for

                    <code>git fetch</code> followed by 
                    <code>git merge FETCH_HEAD</code>.
                </p>
            </div>
            <div class="paragraph">
                <p>More precisely, 
                    <em>git pull</em> runs 
                    <em>git fetch</em> with the given
parameters and calls 
                    <em>git merge</em> to merge the retrieved branch
heads into the current branch.
With 
                    <code>--rebase</code>, it runs 
                    <em>git rebase</em> instead of 
                    <em>git merge</em>.
                </p>
            </div>
            <div class="paragraph">
                <p>&lt;repository&gt; should be the name of a remote repository as
passed to 
                    <a href="/docs/git-fetch">git-fetch[1]</a>.  &lt;refspec&gt; can name an
arbitrary remote ref (for example, the name of a tag) or even
a collection of refs with corresponding remote-tracking branches
(e.g., refs/heads/*:refs/remotes/origin/*),
but usually it is the name of a branch in the remote repository.
                </p>
            </div>
            <div class="paragraph">
                <p>Default values for &lt;repository&gt; and &lt;branch&gt; are read from the
"remote" and "merge" configuration for the current branch
as set by 
                    <a href="/docs/git-branch">git-branch[1]</a>
                    <code>--track</code>.
                </p>
            </div>
            <div class="paragraph">
                <p>Assume the following history exists and the current branch is
"
                    <code>master</code>":
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>	  A---B---C master on origin
	 /
    D---E---F---G master
	^
	origin/master in your repository</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>Then "
                    <code>git pull</code>" will fetch and replay the changes from the remote

                    <code>master</code> branch since it diverged from the local 
                    <code>master</code> (i.e., 
                    <code>E</code>)
until its current commit (
                    <code>C</code>) on top of 
                    <code>master</code> and record the
result in a new commit along with the names of the two parent commits
and a log message from the user describing the changes.
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>	  A---B---C origin/master
	 /         \
    D---E---F---G---H master</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>See 
                    <a href="/docs/git-merge">git-merge[1]</a> for details, including how conflicts
are presented and handled.
                </p>
            </div>
            <div class="paragraph">
                <p>In Git 1.7.0 or later, to cancel a conflicting merge, use

                    <code>git reset --merge</code>.  
                    <strong>Warning</strong>: In older versions of Git, running 
                    <em>git pull</em>
with uncommitted changes is discouraged: while possible, it leaves you
in a state that may be hard to back out of in the case of a conflict.
                </p>
            </div>
            <div class="paragraph">
                <p>If any of the remote changes overlap with local uncommitted changes,
the merge will be automatically cancelled and the work tree untouched.
It is generally best to get any local changes in working order before
pulling or stash them away with 
                    <a href="/docs/git-stash">git-stash[1]</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-q</dt>
                    <dt class="hdlist1">--quiet</dt>
                    <dd>
                        <p>This is passed to both underlying git-fetch to squelch reporting of
during transfer, and underlying git-merge to squelch output during
merging.</p>
                    </dd>
                    <dt class="hdlist1">-v</dt>
                    <dt class="hdlist1">--verbose</dt>
                    <dd>
                        <p>Pass --verbose to git-fetch and git-merge.</p>
                    </dd>
                    <dt class="hdlist1">--[no-]recurse-submodules[=yes|on-demand|no]</dt>
                    <dd>
                        <p>This option controls if new commits of all populated submodules should
be fetched too (see 
                            <a href="/docs/git-config">git-config[1]</a> and 
                            <a href="/docs/gitmodules">gitmodules[5]</a>).
That might be necessary to get the data needed for merging submodule
commits, a feature Git learned in 1.7.3. Notice that the result of a
merge will not be checked out in the submodule, "git submodule update"
has to be called afterwards to bring the work tree up to date with the
merge result.
                        </p>
                    </dd>
                </dl>
            </div>
            <div class="sect2">
                <h3 id="_options_related_to_merging">Options related to merging</h3>
                <div class="dlist">
                    <dl>
                        <dt class="hdlist1">--commit</dt>
                        <dt class="hdlist1">--no-commit</dt>
                        <dd>
                            <p>Perform the merge and commit the result. This option can
be used to override --no-commit.</p>
                            <div class="paragraph">
                                <p>With --no-commit perform the merge but pretend the merge
failed and do not autocommit, to give the user a chance to
inspect and further tweak the merge result before committing.</p>
                            </div>
                        </dd>
                        <dt class="hdlist1">--edit</dt>
                        <dt class="hdlist1">-e</dt>
                        <dt class="hdlist1">--no-edit</dt>
                        <dd>
                            <p>Invoke an editor before committing successful mechanical merge to
further edit the auto-generated merge message, so that the user
can explain and justify the merge. The 
                                <code>--no-edit</code> option can be
used to accept the auto-generated message (this is generally
discouraged).
                            </p>
                            <div class="paragraph">
                                <p>Older scripts may depend on the historical behaviour of not allowing the
user to edit the merge log message. They will see an editor opened when
they run 
                                    <code>git merge</code>. To make it easier to adjust such scripts to the
updated behaviour, the environment variable 
                                    <code>GIT_MERGE_AUTOEDIT</code> can be
set to 
                                    <code>no</code> at the beginning of them.
                                </p>
                            </div>
                        </dd>
                        <dt class="hdlist1">--ff</dt>
                        <dd>
                            <p>When the merge resolves as a fast-forward, only update the branch
pointer, without creating a merge commit.  This is the default
behavior.</p>
                        </dd>
                        <dt class="hdlist1">--no-ff</dt>
                        <dd>
                            <p>Create a merge commit even when the merge resolves as a
fast-forward.  This is the default behaviour when merging an
annotated (and possibly signed) tag.</p>
                        </dd>
                        <dt class="hdlist1">--ff-only</dt>
                        <dd>
                            <p>Refuse to merge and exit with a non-zero status unless the
current 
                                <code>HEAD</code> is already up-to-date or the merge can be
resolved as a fast-forward.
                            </p>
                        </dd>
                        <dt class="hdlist1">--log[=&lt;n&gt;]</dt>
                        <dt class="hdlist1">--no-log</dt>
                        <dd>
                            <p>In addition to branch names, populate the log message with
one-line descriptions from at most &lt;n&gt; actual commits that are being
merged. See also 
                                <a href="/docs/git-fmt-merge-msg">git-fmt-merge-msg[1]</a>.
                            </p>
                            <div class="paragraph">
                                <p>With --no-log do not list one-line descriptions from the
actual commits being merged.</p>
                            </div>
                        </dd>
                        <dt class="hdlist1">--stat</dt>
                        <dt class="hdlist1">-n</dt>
                        <dt class="hdlist1">--no-stat</dt>
                        <dd>
                            <p>Show a diffstat at the end of the merge. The diffstat is also
controlled by the configuration option merge.stat.</p>
                            <div class="paragraph">
                                <p>With -n or --no-stat do not show a diffstat at the end of the
merge.</p>
                            </div>
                        </dd>
                        <dt class="hdlist1">--squash</dt>
                        <dt class="hdlist1">--no-squash</dt>
                        <dd>
                            <p>Produce the working tree and index state as if a real merge
happened (except for the merge information), but do not actually
make a commit, move the 
                                <code>HEAD</code>, or record 
                                <code>$GIT_DIR/MERGE_HEAD</code>
(to cause the next 
                                <code>git commit</code> command to create a merge
commit).  This allows you to create a single commit on top of
the current branch whose effect is the same as merging another
branch (or more in case of an octopus).
                            </p>
                            <div class="paragraph">
                                <p>With --no-squash perform the merge and commit the result. This
option can be used to override --squash.</p>
                            </div>
                        </dd>
                        <dt class="hdlist1">-s &lt;strategy&gt;</dt>
                        <dt class="hdlist1">--strategy=&lt;strategy&gt;</dt>
                        <dd>
                            <p>Use the given merge strategy; can be supplied more than
once to specify them in the order they should be tried.
If there is no 
                                <code>-s</code> option, a built-in list of strategies
is used instead (
                                <em>git merge-recursive</em> when merging a single
head, 
                                <em>git merge-octopus</em> otherwise).
                            </p>
                        </dd>
                        <dt class="hdlist1">-X &lt;option&gt;</dt>
                        <dt class="hdlist1">--strategy-option=&lt;option&gt;</dt>
                        <dd>
                            <p>Pass merge strategy specific option through to the merge
strategy.</p>
                        </dd>
                        <dt class="hdlist1">--verify-signatures</dt>
                        <dt class="hdlist1">--no-verify-signatures</dt>
                        <dd>
                            <p>Verify that the commits being merged have good and trusted GPG signatures
and abort the merge in case they do not.</p>
                        </dd>
                        <dt class="hdlist1">--summary</dt>
                        <dt class="hdlist1">--no-summary</dt>
                        <dd>
                            <p>Synonyms to --stat and --no-stat; these are deprecated and will be
removed in the future.</p>
                        </dd>
                    </dl>
                </div>
                <div class="dlist">
                    <dl>
                        <dt class="hdlist1">-r</dt>
                        <dt class="hdlist1">--rebase[=false|true|preserve]</dt>
                        <dd>
                            <p>When true, rebase the current branch on top of the upstream
branch after fetching. If there is a remote-tracking branch
corresponding to the upstream branch and the upstream branch
was rebased since last fetched, the rebase uses that information
to avoid rebasing non-local changes.</p>
                            <div class="paragraph">
                                <p>When set to preserve, rebase with the 
                                    <code>--preserve-merges</code> option passed
to 
                                    <code>git rebase</code> so that locally created merge commits will not be flattened.
                                </p>
                            </div>
                            <div class="paragraph">
                                <p>When false, merge the current branch into the upstream branch.</p>
                            </div>
                            <div class="paragraph">
                                <p>See 
                                    <code>pull.rebase</code>, 
                                    <code>branch.&lt;name&gt;.rebase</code> and 
                                    <code>branch.autoSetupRebase</code> in

                                    <a href="/docs/git-config">git-config[1]</a> if you want to make 
                                    <code>git pull</code> always use

                                    <code>--rebase</code> instead of merging.
                                </p>
                            </div>
                            <div class="admonitionblock note">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="icon">
                                                <div class="title">Note</div>
                                            </td>
                                            <td class="content">
This is a potentially 
                                                <em>dangerous</em> mode of operation.
It rewrites history, which does not bode well when you
published that history already.  Do 
                                                <strong>not</strong> use this option
unless you have read 
                                                <a href="/docs/git-rebase">git-rebase[1]</a> carefully.

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </dd>
                        <dt class="hdlist1">--no-rebase</dt>
                        <dd>
                            <p>Override earlier --rebase.</p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="sect2">
                <h3 id="_options_related_to_fetching">Options related to fetching</h3>
                <div class="dlist">
                    <dl>
                        <dt class="hdlist1">--all</dt>
                        <dd>
                            <p>Fetch all remotes.</p>
                        </dd>
                        <dt class="hdlist1">-a</dt>
                        <dt class="hdlist1">--append</dt>
                        <dd>
                            <p>Append ref names and object names of fetched refs to the
existing contents of 
                                <code>.git/FETCH_HEAD</code>.  Without this
option old data in 
                                <code>.git/FETCH_HEAD</code> will be overwritten.
                            </p>
                        </dd>
                        <dt class="hdlist1">--depth=&lt;depth&gt;</dt>
                        <dd>
                            <p>Deepen or shorten the history of a 
                                <em>shallow</em> repository created by

                                <code>git clone</code> with 
                                <code>--depth=&lt;depth&gt;</code> option (see 
                                <a href="/docs/git-clone">git-clone[1]</a>)
to the specified number of commits from the tip of each remote
branch history. Tags for the deepened commits are not fetched.
                            </p>
                        </dd>
                        <dt class="hdlist1">--unshallow</dt>
                        <dd>
                            <p>If the source repository is complete, convert a shallow
repository to a complete one, removing all the limitations
imposed by shallow repositories.</p>
                            <div class="paragraph">
                                <p>If the source repository is shallow, fetch as much as possible so that
the current repository has the same history as the source repository.</p>
                            </div>
                        </dd>
                        <dt class="hdlist1">--update-shallow</dt>
                        <dd>
                            <p>By default when fetching from a shallow repository,

                                <code>git fetch</code> refuses refs that require updating
.git/shallow. This option updates .git/shallow and accept such
refs.
                            </p>
                        </dd>
                        <dt class="hdlist1">-f</dt>
                        <dt class="hdlist1">--force</dt>
                        <dd>
                            <p>When 
                                <em>git fetch</em> is used with 
                                <code>&lt;rbranch&gt;:&lt;lbranch&gt;</code>
refspec, it refuses to update the local branch

                                <code>&lt;lbranch&gt;</code> unless the remote branch 
                                <code>&lt;rbranch&gt;</code> it
fetches is a descendant of 
                                <code>&lt;lbranch&gt;</code>.  This option
overrides that check.
                            </p>
                        </dd>
                        <dt class="hdlist1">-k</dt>
                        <dt class="hdlist1">--keep</dt>
                        <dd>
                            <p>Keep downloaded pack.</p>
                        </dd>
                        <dt class="hdlist1">--no-tags</dt>
                        <dd>
                            <p>By default, tags that point at objects that are downloaded
from the remote repository are fetched and stored locally.
This option disables this automatic tag following. The default
behavior for a remote may be specified with the remote.&lt;name&gt;.tagOpt
setting. See 
                                <a href="/docs/git-config">git-config[1]</a>.
                            </p>
                        </dd>
                        <dt class="hdlist1">-u</dt>
                        <dt class="hdlist1">--update-head-ok</dt>
                        <dd>
                            <p>By default 
                                <em>git fetch</em> refuses to update the head which
corresponds to the current branch.  This flag disables the
check.  This is purely for the internal use for 
                                <em>git pull</em>
to communicate with 
                                <em>git fetch</em>, and unless you are
implementing your own Porcelain you are not supposed to
use it.
                            </p>
                        </dd>
                        <dt class="hdlist1">--upload-pack &lt;upload-pack&gt;</dt>
                        <dd>
                            <p>When given, and the repository to fetch from is handled
by 
                                <em>git fetch-pack</em>, 
                                <em>--exec=&lt;upload-pack&gt;</em> is passed to
the command to specify non-default path for the command
run on the other end.
                            </p>
                        </dd>
                        <dt class="hdlist1">--progress</dt>
                        <dd>
                            <p>Progress status is reported on the standard error stream
by default when it is attached to a terminal, unless -q
is specified. This flag forces progress status even if the
standard error stream is not directed to a terminal.</p>
                        </dd>
                    </dl>
                </div>
                <div class="dlist">
                    <dl>
                        <dt class="hdlist1">&lt;repository&gt;</dt>
                        <dd>
                            <p>The "remote" repository that is the source of a fetch
or pull operation.  This parameter can be either a URL
(see the section 
                                <a href="#URLS">GIT URLS</a> below) or the name
of a remote (see the section 
                                <a href="#REMOTES">REMOTES</a> below).
                            </p>
                        </dd>
                        <dt class="hdlist1">&lt;refspec&gt;</dt>
                        <dd>
                            <p>Specifies which refs to fetch and which local refs to update.
When no &lt;refspec&gt;s appear on the command line, the refs to fetch
are read from 
                                <code>remote.&lt;repository&gt;.fetch</code> variables instead
(see 
                                <a href="/docs/git-fetch">git-fetch[1]</a>).
                            </p>
                            <div class="paragraph">
                                <p>The format of a &lt;refspec&gt; parameter is an optional plus

                                    <code>+</code>, followed by the source ref &lt;src&gt;, followed
by a colon 
                                    <code>:</code>, followed by the destination ref &lt;dst&gt;.
The colon can be omitted when &lt;dst&gt; is empty.
                                </p>
                            </div>
                            <div class="paragraph">
                                <p>
                                    <code>tag &lt;tag&gt;</code> means the same as 
                                    <code>refs/tags/&lt;tag&gt;:refs/tags/&lt;tag&gt;</code>;
it requests fetching everything up to the given tag.
                                </p>
                            </div>
                            <div class="paragraph">
                                <p>The remote ref that matches &lt;src&gt;
is fetched, and if &lt;dst&gt; is not empty string, the local
ref that matches it is fast-forwarded using &lt;src&gt;.
If the optional plus 
                                    <code>+</code> is used, the local ref
is updated even if it does not result in a fast-forward
update.
                                </p>
                            </div>
                            <div class="admonitionblock note">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="icon">
                                                <div class="title">Note</div>
                                            </td>
                                            <td class="content">
When the remote branch you want to fetch is known to
be rewound and rebased regularly, it is expected that
its new tip will not be descendant of its previous tip
(as stored in your remote-tracking branch the last time
you fetched).  You would want
to use the 
                                                <code>+</code> sign to indicate non-fast-forward updates
will be needed for such branches.  There is no way to
determine or declare that a branch will be made available
in a repository with this behavior; the pulling user simply
must know this is the expected usage pattern for a branch.

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="admonitionblock note">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="icon">
                                                <div class="title">Note</div>
                                            </td>
                                            <td class="content">
There is a difference between listing multiple &lt;refspec&gt;
directly on 
                                                <em>git pull</em> command line and having multiple

                                                <code>remote.&lt;repository&gt;.fetch</code> entries in your configuration
for a &lt;repository&gt; and running a

                                                <em>git pull</em> command without any explicit &lt;refspec&gt; parameters.
&lt;refspec&gt;s listed explicitly on the command line are always
merged into the current branch after fetching.  In other words,
if you list more than one remote ref, 
                                                <em>git pull</em> will create
an Octopus merge.  On the other hand, if you do not list any
explicit &lt;refspec&gt; parameter on the command line, 
                                                <em>git pull</em>
will fetch all the &lt;refspec&gt;s it finds in the

                                                <code>remote.&lt;repository&gt;.fetch</code> configuration and merge
only the first &lt;refspec&gt; found into the current branch.
This is because making an
Octopus from remote refs is rarely done, while keeping track
of multiple remote heads in one-go by fetching more than one
is often useful.

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="paragraph">
                    <p>
                        <a href="urls.txt">urls.txt</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="REMOTES">REMOTES</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The name of one of the following can be used instead
of a URL as 
                    <code>&lt;repository&gt;</code> argument:
                </p>
            </div>
            <div class="ulist">
                <ul>
                    <li>
                        <p>a remote in the Git configuration file: 
                            <code>$GIT_DIR/config</code>,
                        </p>
                    </li>
                    <li>
                        <p>a file in the 
                            <code>$GIT_DIR/remotes</code> directory, or
                        </p>
                    </li>
                    <li>
                        <p>a file in the 
                            <code>$GIT_DIR/branches</code> directory.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="paragraph">
                <p>All of these also allow you to omit the refspec from the command line
because they each contain a refspec which git will use by default.</p>
            </div>
            <div class="sect2">
                <h3 id="_named_remote_in_configuration_file">Named remote in configuration file</h3>
                <div class="paragraph">
                    <p>You can choose to provide the name of a remote which you had previously
configured using 
                        <a href="/docs/git-remote">git-remote[1]</a>, 
                        <a href="/docs/git-config">git-config[1]</a>
or even by a manual edit to the 
                        <code>$GIT_DIR/config</code> file.  The URL of
this remote will be used to access the repository.  The refspec
of this remote will be used by default when you do
not provide a refspec on the command line.  The entry in the
config file would appear like this:
                    </p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>	[remote "&lt;name&gt;"]
		url = &lt;url&gt;
		pushurl = &lt;pushurl&gt;
		push = &lt;refspec&gt;
		fetch = &lt;refspec&gt;</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>The 
                        <code>&lt;pushurl&gt;</code> is used for pushes only. It is optional and defaults
to 
                        <code>&lt;url&gt;</code>.
                    </p>
                </div>
            </div>
            <div class="sect2">
                <h3 id="_named_file_in_code_git_dir_remotes_code">Named file in 
                    <code>$GIT_DIR/remotes</code>
                </h3>
                <div class="paragraph">
                    <p>You can choose to provide the name of a
file in 
                        <code>$GIT_DIR/remotes</code>.  The URL
in this file will be used to access the repository.  The refspec
in this file will be used as default when you do not
provide a refspec on the command line.  This file should have the
following format:
                    </p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>	URL: one of the above URL format
	Push: &lt;refspec&gt;
	Pull: &lt;refspec&gt;
</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>
                        <code>Push:</code> lines are used by 
                        <em>git push</em> and

                        <code>Pull:</code> lines are used by 
                        <em>git pull</em> and 
                        <em>git fetch</em>.
Multiple 
                        <code>Push:</code> and 
                        <code>Pull:</code> lines may
be specified for additional branch mappings.
                    </p>
                </div>
            </div>
            <div class="sect2">
                <h3 id="_named_file_in_code_git_dir_branches_code">Named file in 
                    <code>$GIT_DIR/branches</code>
                </h3>
                <div class="paragraph">
                    <p>You can choose to provide the name of a
file in 
                        <code>$GIT_DIR/branches</code>.
The URL in this file will be used to access the repository.
This file should have the following format:
                    </p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>	&lt;url&gt;#&lt;head&gt;</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>
                        <code>&lt;url&gt;</code> is required; 
                        <code>#&lt;head&gt;</code> is optional.
                    </p>
                </div>
                <div class="paragraph">
                    <p>Depending on the operation, git will use one of the following
refspecs, if you don’t provide one on the command line.

                        <code>&lt;branch&gt;</code> is the name of this file in 
                        <code>$GIT_DIR/branches</code> and

                        <code>&lt;head&gt;</code> defaults to 
                        <code>master</code>.
                    </p>
                </div>
                <div class="paragraph">
                    <p>git fetch uses:</p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>	refs/heads/&lt;head&gt;:refs/heads/&lt;branch&gt;</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>git push uses:</p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>	HEAD:refs/heads/&lt;head&gt;</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_merge_strategies">MERGE STRATEGIES</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The merge mechanism (
                    <code>git merge</code> and 
                    <code>git pull</code> commands) allows the
backend 
                    <em>merge strategies</em> to be chosen with 
                    <code>-s</code> option.  Some strategies
can also take their own options, which can be passed by giving 
                    <code>-X&lt;option&gt;</code>
arguments to 
                    <code>git merge</code> and/or 
                    <code>git pull</code>.
                </p>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">resolve</dt>
                    <dd>
                        <p>This can only resolve two heads (i.e. the current branch
and another branch you pulled from) using a 3-way merge
algorithm.  It tries to carefully detect criss-cross
merge ambiguities and is considered generally safe and
fast.</p>
                    </dd>
                    <dt class="hdlist1">recursive</dt>
                    <dd>
                        <p>This can only resolve two heads using a 3-way merge
algorithm.  When there is more than one common
ancestor that can be used for 3-way merge, it creates a
merged tree of the common ancestors and uses that as
the reference tree for the 3-way merge.  This has been
reported to result in fewer merge conflicts without
causing mismerges by tests done on actual merge commits
taken from Linux 2.6 kernel development history.
Additionally this can detect and handle merges involving
renames.  This is the default merge strategy when
pulling or merging one branch.</p>
                        <div class="paragraph">
                            <p>The 
                                <em>recursive</em> strategy can take the following options:
                            </p>
                        </div>
                        <div class="dlist">
                            <dl>
                                <dt class="hdlist1">ours</dt>
                                <dd>
                                    <p>This option forces conflicting hunks to be auto-resolved cleanly by
favoring 
                                        <em>our</em> version.  Changes from the other tree that do not
conflict with our side are reflected to the merge result.
For a binary file, the entire contents are taken from our side.
                                    </p>
                                    <div class="paragraph">
                                        <p>This should not be confused with the 
                                            <em>ours</em> merge strategy, which does not
even look at what the other tree contains at all.  It discards everything
the other tree did, declaring 
                                            <em>our</em> history contains all that happened in it.
                                        </p>
                                    </div>
                                </dd>
                                <dt class="hdlist1">theirs</dt>
                                <dd>
                                    <p>This is the opposite of 
                                        <em>ours</em>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">patience</dt>
                                <dd>
                                    <p>With this option, 
                                        <em>merge-recursive</em> spends a little extra time
to avoid mismerges that sometimes occur due to unimportant
matching lines (e.g., braces from distinct functions).  Use
this when the branches to be merged have diverged wildly.
See also 
                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>--patience</code>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">diff-algorithm=[patience|minimal|histogram|myers]</dt>
                                <dd>
                                    <p>Tells 
                                        <em>merge-recursive</em> to use a different diff algorithm, which
can help avoid mismerges that occur due to unimportant matching
lines (such as braces from distinct functions).  See also

                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>--diff-algorithm</code>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">ignore-space-change</dt>
                                <dt class="hdlist1">ignore-all-space</dt>
                                <dt class="hdlist1">ignore-space-at-eol</dt>
                                <dd>
                                    <p>Treats lines with the indicated type of whitespace change as
unchanged for the sake of a three-way merge.  Whitespace
changes mixed with other changes to a line are not ignored.
See also 
                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>-b</code>, 
                                        <code>-w</code>, and

                                        <code>--ignore-space-at-eol</code>.
                                    </p>
                                    <div class="ulist">
                                        <ul>
                                            <li>
                                                <p>If 
                                                    <em>their</em> version only introduces whitespace changes to a line,

                                                    <em>our</em> version is used;
                                                </p>
                                            </li>
                                            <li>
                                                <p>If 
                                                    <em>our</em> version introduces whitespace changes but 
                                                    <em>their</em>
version includes a substantial change, 
                                                    <em>their</em> version is used;
                                                </p>
                                            </li>
                                            <li>
                                                <p>Otherwise, the merge proceeds in the usual way.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </dd>
                                <dt class="hdlist1">renormalize</dt>
                                <dd>
                                    <p>This runs a virtual check-out and check-in of all three stages
of a file when resolving a three-way merge.  This option is
meant to be used when merging branches with different clean
filters or end-of-line normalization rules.  See "Merging
branches with differing checkin/checkout attributes" in

                                        <a href="/docs/gitattributes">gitattributes[5]</a> for details.
                                    </p>
                                </dd>
                                <dt class="hdlist1">no-renormalize</dt>
                                <dd>
                                    <p>Disables the 
                                        <code>renormalize</code> option.  This overrides the

                                        <code>merge.renormalize</code> configuration variable.
                                    </p>
                                </dd>
                                <dt class="hdlist1">rename-threshold=&lt;n&gt;</dt>
                                <dd>
                                    <p>Controls the similarity threshold used for rename detection.
See also 
                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>-M</code>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">subtree[=&lt;path&gt;]</dt>
                                <dd>
                                    <p>This option is a more advanced form of 
                                        <em>subtree</em> strategy, where
the strategy makes a guess on how two trees must be shifted to
match with each other when merging.  Instead, the specified path
is prefixed (or stripped from the beginning) to make the shape of
two trees to match.
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                    <dt class="hdlist1">octopus</dt>
                    <dd>
                        <p>This resolves cases with more than two heads, but refuses to do
a complex merge that needs manual resolution.  It is
primarily meant to be used for bundling topic branch
heads together.  This is the default merge strategy when
pulling or merging more than one branch.</p>
                    </dd>
                    <dt class="hdlist1">ours</dt>
                    <dd>
                        <p>This resolves any number of heads, but the resulting tree of the
merge is always that of the current branch head, effectively
ignoring all changes from all other branches.  It is meant to
be used to supersede old development history of side
branches.  Note that this is different from the -Xours option to
the 
                            <em>recursive</em> merge strategy.
                        </p>
                    </dd>
                    <dt class="hdlist1">subtree</dt>
                    <dd>
                        <p>This is a modified recursive strategy. When merging trees A and
B, if B corresponds to a subtree of A, B is first adjusted to
match the tree structure of A, instead of reading the trees at
the same level. This adjustment is also done to the common
ancestor tree.</p>
                    </dd>
                </dl>
            </div>
            <div class="paragraph">
                <p>With the strategies that use 3-way merge (including the default, 
                    <em>recursive</em>),
if a change is made on both branches, but later reverted on one of the
branches, that change will be present in the merged result; some people find
this behavior confusing.  It occurs because only the heads and the merge base
are considered when performing a merge, not the individual commits.  The merge
algorithm therefore considers the reverted change as no change at all, and
substitutes the changed version instead.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_default_behaviour">DEFAULT BEHAVIOUR</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Often people use 
                    <code>git pull</code> without giving any parameter.
Traditionally, this has been equivalent to saying 
                    <code>git pull
origin</code>.  However, when configuration 
                    <code>branch.&lt;name&gt;.remote</code> is
present while on branch 
                    <code>&lt;name&gt;</code>, that value is used instead of

                    <code>origin</code>.
                </p>
            </div>
            <div class="paragraph">
                <p>In order to determine what URL to use to fetch from, the value
of the configuration 
                    <code>remote.&lt;origin&gt;.url</code> is consulted
and if there is not any such variable, the value on 
                    <code>URL: ` line
in `$GIT_DIR/remotes/&lt;origin&gt;</code> file is used.
                </p>
            </div>
            <div class="paragraph">
                <p>In order to determine what remote branches to fetch (and
optionally store in the remote-tracking branches) when the command is
run without any refspec parameters on the command line, values
of the configuration variable 
                    <code>remote.&lt;origin&gt;.fetch</code> are
consulted, and if there aren’t any, 
                    <code>$GIT_DIR/remotes/&lt;origin&gt;</code>
file is consulted and its `Pull: ` lines are used.
In addition to the refspec formats described in the OPTIONS
section, you can have a globbing refspec that looks like this:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>refs/heads/*:refs/remotes/origin/*</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>A globbing refspec must have a non-empty RHS (i.e. must store
what were fetched in remote-tracking branches), and its LHS and RHS
must end with 
                    <code>/*</code>.  The above specifies that all remote
branches are tracked using remote-tracking branches in

                    <code>refs/remotes/origin/</code> hierarchy under the same name.
                </p>
            </div>
            <div class="paragraph">
                <p>The rule to determine which remote branch to merge after
fetching is a bit involved, in order not to break backward
compatibility.</p>
            </div>
            <div class="paragraph">
                <p>If explicit refspecs were given on the command
line of 
                    <code>git pull</code>, they are all merged.
                </p>
            </div>
            <div class="paragraph">
                <p>When no refspec was given on the command line, then 
                    <code>git pull</code>
uses the refspec from the configuration or

                    <code>$GIT_DIR/remotes/&lt;origin&gt;</code>.  In such cases, the following
rules apply:
                </p>
            </div>
            <div class="olist arabic">
                <ol class="arabic">
                    <li>
                        <p>If 
                            <code>branch.&lt;name&gt;.merge</code> configuration for the current
branch 
                            <code>&lt;name&gt;</code> exists, that is the name of the branch at the
remote site that is merged.
                        </p>
                    </li>
                    <li>
                        <p>If the refspec is a globbing one, nothing is merged.</p>
                    </li>
                    <li>
                        <p>Otherwise the remote branch of the first refspec is merged.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">EXAMPLES</h2>
        <div class="sectionbody">
            <div class="ulist">
                <ul>
                    <li>
                        <p>Update the remote-tracking branches for the repository
you cloned from, then merge one of them into your
current branch:</p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git pull, git pull origin</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>Normally the branch merged in is the HEAD of the remote repository,
but the choice is determined by the branch.&lt;name&gt;.remote and
branch.&lt;name&gt;.merge options; see 
                                <a href="/docs/git-config">git-config[1]</a> for details.
                            </p>
                        </div>
                    </li>
                    <li>
                        <p>Merge into the current branch the remote branch 
                            <code>next</code>:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git pull origin next</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>This leaves a copy of 
                                <code>next</code> temporarily in FETCH_HEAD, but
does not update any remote-tracking branches. Using remote-tracking
branches, the same can be done by invoking fetch and merge:
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git fetch origin
$ git merge origin/next</pre>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="paragraph">
                <p>If you tried a pull which resulted in complex conflicts and
would want to start over, you can recover with 
                    <em>git reset</em>.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_bugs">BUGS</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Using --recurse-submodules can only fetch new commits in already checked
out submodules right now. When e.g. upstream added a new submodule in the
just fetched commits of the superproject the submodule itself can not be
fetched, making it impossible to check out that submodule later without
having to do a fetch again. This is expected to be fixed in a future Git
version.</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_see_also">SEE ALSO</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    <a href="/docs/git-fetch">git-fetch[1]</a>, 
                    <a href="/docs/git-merge">git-merge[1]</a>, 
                    <a href="/docs/git-config">git-config[1]</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>