<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-branch - List, create, or delete branches</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git branch' [--color[=&lt;when&gt;] | --no-color] [-r | -a]
	[--list] [-v [--abbrev=&lt;length&gt; | --no-abbrev]]
	[--column[=&lt;options&gt;] | --no-column]
	[(--merged | --no-merged | --contains) [&lt;commit&gt;]] [&lt;pattern&gt;...]
'git branch' [--set-upstream | --track | --no-track] [-l] [-f] &lt;branchname&gt; [&lt;start-point&gt;]
'git branch' (--set-upstream-to=&lt;upstream&gt; | -u &lt;upstream&gt;) [&lt;branchname&gt;]
'git branch' --unset-upstream [&lt;branchname&gt;]
'git branch' (-m | -M) [&lt;oldbranch&gt;] &lt;newbranch&gt;
'git branch' (-d | -D) [-r] &lt;branchname&gt;...
'git branch' --edit-description [&lt;branchname&gt;]</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>If 
                    <code>--list</code> is given, or if there are no non-option arguments, existing
branches are listed; the current branch will be highlighted with an
asterisk.  Option 
                    <code>-r</code> causes the remote-tracking branches to be listed,
and option 
                    <code>-a</code> shows both local and remote branches. If a 
                    <code>&lt;pattern&gt;</code>
is given, it is used as a shell wildcard to restrict the output to
matching branches. If multiple patterns are given, a branch is shown if
it matches any of the patterns.  Note that when providing a

                    <code>&lt;pattern&gt;</code>, you must use 
                    <code>--list</code>; otherwise the command is interpreted
as branch creation.
                </p>
            </div>
            <div class="paragraph">
                <p>With 
                    <code>--contains</code>, shows only the branches that contain the named commit
(in other words, the branches whose tip commits are descendants of the
named commit).  With 
                    <code>--merged</code>, only branches merged into the named
commit (i.e. the branches whose tip commits are reachable from the named
commit) will be listed.  With 
                    <code>--no-merged</code> only branches not merged into
the named commit will be listed.  If the &lt;commit&gt; argument is missing it
defaults to 
                    <em>HEAD</em> (i.e. the tip of the current branch).
                </p>
            </div>
            <div class="paragraph">
                <p>The command’s second form creates a new branch head named &lt;branchname&gt;
which points to the current 
                    <em>HEAD</em>, or &lt;start-point&gt; if given.
                </p>
            </div>
            <div class="paragraph">
                <p>Note that this will create the new branch, but it will not switch the
working tree to it; use "git checkout &lt;newbranch&gt;" to switch to the
new branch.</p>
            </div>
            <div class="paragraph">
                <p>When a local branch is started off a remote-tracking branch, Git sets up the
branch (specifically the 
                    <code>branch.&lt;name&gt;.remote</code> and 
                    <code>branch.&lt;name&gt;.merge</code>
configuration entries) so that 
                    <em>git pull</em> will appropriately merge from
the remote-tracking branch. This behavior may be changed via the global

                    <code>branch.autoSetupMerge</code> configuration flag. That setting can be
overridden by using the 
                    <code>--track</code> and 
                    <code>--no-track</code> options, and
changed later using 
                    <code>git branch --set-upstream-to</code>.
                </p>
            </div>
            <div class="paragraph">
                <p>With a 
                    <code>-m</code> or 
                    <code>-M</code> option, &lt;oldbranch&gt; will be renamed to &lt;newbranch&gt;.
If &lt;oldbranch&gt; had a corresponding reflog, it is renamed to match
&lt;newbranch&gt;, and a reflog entry is created to remember the branch
renaming. If &lt;newbranch&gt; exists, -M must be used to force the rename
to happen.
                </p>
            </div>
            <div class="paragraph">
                <p>With a 
                    <code>-d</code> or 
                    <code>-D</code> option, 
                    <code>&lt;branchname&gt;</code> will be deleted.  You may
specify more than one branch for deletion.  If the branch currently
has a reflog then the reflog will also be deleted.
                </p>
            </div>
            <div class="paragraph">
                <p>Use 
                    <code>-r</code> together with 
                    <code>-d</code> to delete remote-tracking branches. Note, that it
only makes sense to delete remote-tracking branches if they no longer exist
in the remote repository or if 
                    <em>git fetch</em> was configured not to fetch
them again. See also the 
                    <em>prune</em> subcommand of 
                    <a href="/docs/git-remote">git-remote[1]</a> for a
way to clean up all obsolete remote-tracking branches.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-d</dt>
                    <dt class="hdlist1">--delete</dt>
                    <dd>
                        <p>Delete a branch. The branch must be fully merged in its
upstream branch, or in 
                            <code>HEAD</code> if no upstream was set with

                            <code>--track</code> or 
                            <code>--set-upstream</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">-D</dt>
                    <dd>
                        <p>Shortcut for 
                            <code>--delete --force</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">-l</dt>
                    <dt class="hdlist1">--create-reflog</dt>
                    <dd>
                        <p>Create the branch’s reflog.  This activates recording of
all changes made to the branch ref, enabling use of date
based sha1 expressions such as "&lt;branchname&gt;@{yesterday}".
Note that in non-bare repositories, reflogs are usually
enabled by default by the 
                            <code>core.logallrefupdates</code> config option.
                        </p>
                    </dd>
                    <dt class="hdlist1">-f</dt>
                    <dt class="hdlist1">--force</dt>
                    <dd>
                        <p>Reset &lt;branchname&gt; to &lt;startpoint&gt; if &lt;branchname&gt; exists
already. Without 
                            <code>-f</code>
                            <em>git branch</em> refuses to change an existing branch.
In combination with 
                            <code>-d</code> (or 
                            <code>--delete</code>), allow deleting the
branch irrespective of its merged status. In combination with

                            <code>-m</code> (or 
                            <code>--move</code>), allow renaming the branch even if the new
branch name already exists.
                        </p>
                    </dd>
                    <dt class="hdlist1">-m</dt>
                    <dt class="hdlist1">--move</dt>
                    <dd>
                        <p>Move/rename a branch and the corresponding reflog.</p>
                    </dd>
                    <dt class="hdlist1">-M</dt>
                    <dd>
                        <p>Shortcut for 
                            <code>--move --force</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">--color[=&lt;when&gt;]</dt>
                    <dd>
                        <p>Color branches to highlight current, local, and
remote-tracking branches.
The value must be always (the default), never, or auto.</p>
                    </dd>
                    <dt class="hdlist1">--no-color</dt>
                    <dd>
                        <p>Turn off branch colors, even when the configuration file gives the
default to color output.
Same as 
                            <code>--color=never</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">--column[=&lt;options&gt;]</dt>
                    <dt class="hdlist1">--no-column</dt>
                    <dd>
                        <p>Display branch listing in columns. See configuration variable
column.branch for option syntax.
                            <code>--column</code> and 
                            <code>--no-column</code>
without options are equivalent to 
                            <em>always</em> and 
                            <em>never</em> respectively.
                        </p>
                        <div class="paragraph">
                            <p>This option is only applicable in non-verbose mode.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">-r</dt>
                    <dt class="hdlist1">--remotes</dt>
                    <dd>
                        <p>List or delete (if used with -d) the remote-tracking branches.</p>
                    </dd>
                    <dt class="hdlist1">-a</dt>
                    <dt class="hdlist1">--all</dt>
                    <dd>
                        <p>List both remote-tracking branches and local branches.</p>
                    </dd>
                    <dt class="hdlist1">--list</dt>
                    <dd>
                        <p>Activate the list mode. 
                            <code>git branch &lt;pattern&gt;</code> would try to create a branch,
use 
                            <code>git branch --list &lt;pattern&gt;</code> to list matching branches.
                        </p>
                    </dd>
                    <dt class="hdlist1">-v</dt>
                    <dt class="hdlist1">-vv</dt>
                    <dt class="hdlist1">--verbose</dt>
                    <dd>
                        <p>When in list mode,
show sha1 and commit subject line for each head, along with
relationship to upstream branch (if any). If given twice, print
the name of the upstream branch, as well (see also 
                            <code>git remote
show &lt;remote&gt;</code>).
                        </p>
                    </dd>
                    <dt class="hdlist1">-q</dt>
                    <dt class="hdlist1">--quiet</dt>
                    <dd>
                        <p>Be more quiet when creating or deleting a branch, suppressing
non-error messages.</p>
                    </dd>
                    <dt class="hdlist1">--abbrev=&lt;length&gt;</dt>
                    <dd>
                        <p>Alter the sha1’s minimum display length in the output listing.
The default value is 7 and can be overridden by the 
                            <code>core.abbrev</code>
config option.
                        </p>
                    </dd>
                    <dt class="hdlist1">--no-abbrev</dt>
                    <dd>
                        <p>Display the full sha1s in the output listing rather than abbreviating them.</p>
                    </dd>
                    <dt class="hdlist1">-t</dt>
                    <dt class="hdlist1">--track</dt>
                    <dd>
                        <p>When creating a new branch, set up 
                            <code>branch.&lt;name&gt;.remote</code> and

                            <code>branch.&lt;name&gt;.merge</code> configuration entries to mark the
start-point branch as "upstream" from the new branch. This
configuration will tell git to show the relationship between the
two branches in 
                            <code>git status</code> and 
                            <code>git branch -v</code>. Furthermore,
it directs 
                            <code>git pull</code> without arguments to pull from the
upstream when the new branch is checked out.
                        </p>
                        <div class="paragraph">
                            <p>This behavior is the default when the start point is a remote-tracking branch.
Set the branch.autoSetupMerge configuration variable to 
                                <code>false</code> if you
want 
                                <code>git checkout</code> and 
                                <code>git branch</code> to always behave as if 
                                <em>--no-track</em>
were given. Set it to 
                                <code>always</code> if you want this behavior when the
start-point is either a local or remote-tracking branch.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--no-track</dt>
                    <dd>
                        <p>Do not set up "upstream" configuration, even if the
branch.autoSetupMerge configuration variable is true.</p>
                    </dd>
                    <dt class="hdlist1">--set-upstream</dt>
                    <dd>
                        <p>If specified branch does not exist yet or if 
                            <code>--force</code> has been
given, acts exactly like 
                            <code>--track</code>. Otherwise sets up configuration
like 
                            <code>--track</code> would when creating the branch, except that where
branch points to is not changed.
                        </p>
                    </dd>
                    <dt class="hdlist1">-u &lt;upstream&gt;</dt>
                    <dt class="hdlist1">--set-upstream-to=&lt;upstream&gt;</dt>
                    <dd>
                        <p>Set up &lt;branchname&gt;'s tracking information so &lt;upstream&gt; is
considered &lt;branchname&gt;'s upstream branch. If no &lt;branchname&gt;
is specified, then it defaults to the current branch.</p>
                    </dd>
                    <dt class="hdlist1">--unset-upstream</dt>
                    <dd>
                        <p>Remove the upstream information for &lt;branchname&gt;. If no branch
is specified it defaults to the current branch.</p>
                    </dd>
                    <dt class="hdlist1">--edit-description</dt>
                    <dd>
                        <p>Open an editor and edit the text to explain what the branch is
for, to be used by various other commands (e.g. 
                            <code>request-pull</code>).
                        </p>
                    </dd>
                    <dt class="hdlist1">--contains [&lt;commit&gt;]</dt>
                    <dd>
                        <p>Only list branches which contain the specified commit (HEAD
if not specified). Implies 
                            <code>--list</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">--merged [&lt;commit&gt;]</dt>
                    <dd>
                        <p>Only list branches whose tips are reachable from the
specified commit (HEAD if not specified). Implies 
                            <code>--list</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">--no-merged [&lt;commit&gt;]</dt>
                    <dd>
                        <p>Only list branches whose tips are not reachable from the
specified commit (HEAD if not specified). Implies 
                            <code>--list</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">&lt;branchname&gt;</dt>
                    <dd>
                        <p>The name of the branch to create or delete.
The new branch name must pass all checks defined by

                            <a href="/docs/git-check-ref-format">git-check-ref-format[1]</a>.  Some of these checks
may restrict the characters allowed in a branch name.
                        </p>
                    </dd>
                    <dt class="hdlist1">&lt;start-point&gt;</dt>
                    <dd>
                        <p>The new branch head will point to this commit.  It may be
given as a branch name, a commit-id, or a tag.  If this
option is omitted, the current HEAD will be used instead.</p>
                    </dd>
                    <dt class="hdlist1">&lt;oldbranch&gt;</dt>
                    <dd>
                        <p>The name of an existing branch to rename.</p>
                    </dd>
                    <dt class="hdlist1">&lt;newbranch&gt;</dt>
                    <dd>
                        <p>The new name for an existing branch. The same restrictions as for
&lt;branchname&gt; apply.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">Examples</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">Start development from a known tag</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git clone git://git.kernel.org/pub/scm/.../linux-2.6 my2.6
$ cd my2.6
$ git branch my2.6.14 v2.6.14   
                                    <b>(1)</b>
$ git checkout my2.6.14
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>This step and the next one could be combined into a single step with
"checkout -b my2.6.14 v2.6.14".</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                    <dt class="hdlist1">Delete an unneeded branch</dt>
                    <dd>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git clone git://git.kernel.org/.../git.git my.git
$ cd my.git
$ git branch -d -r origin/todo origin/html origin/man   
                                    <b>(1)</b>
$ git branch -D test                                    
                                    <b>(2)</b>
                                </pre>
                            </div>
                        </div>
                        <div class="colist arabic">
                            <ol>
                                <li>
                                    <p>Delete the remote-tracking branches "todo", "html" and "man". The next

                                        <em>fetch</em> or 
                                        <em>pull</em> will create them again unless you configure them not to.
See 
                                        <a href="/docs/git-fetch">git-fetch[1]</a>.
                                    </p>
                                </li>
                                <li>
                                    <p>Delete the "test" branch even if the "master" branch (or whichever branch
is currently checked out) does not have all commits from the test branch.</p>
                                </li>
                            </ol>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_notes">Notes</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>If you are creating a branch that you want to checkout immediately, it is
easier to use the git checkout command with its 
                    <code>-b</code> option to create
a branch and check it out with a single command.
                </p>
            </div>
            <div class="paragraph">
                <p>The options 
                    <code>--contains</code>, 
                    <code>--merged</code> and 
                    <code>--no-merged</code> serve three related
but different purposes:
                </p>
            </div>
            <div class="ulist">
                <ul>
                    <li>
                        <p>
                            <code>--contains &lt;commit&gt;</code> is used to find all branches which will need
special attention if &lt;commit&gt; were to be rebased or amended, since those
branches contain the specified &lt;commit&gt;.
                        </p>
                    </li>
                    <li>
                        <p>
                            <code>--merged</code> is used to find all branches which can be safely deleted,
since those branches are fully contained by HEAD.
                        </p>
                    </li>
                    <li>
                        <p>
                            <code>--no-merged</code> is used to find branches which are candidates for merging
into HEAD, since those branches are not fully contained by HEAD.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_see_also">SEE ALSO</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    <a href="/docs/git-check-ref-format">git-check-ref-format[1]</a>,

                    <a href="/docs/git-fetch">git-fetch[1]</a>,

                    <a href="/docs/git-remote">git-remote[1]</a>,

                    <a href="user-manual.html#what-is-a-branch">“Understanding history: What is
a branch?”</a> in the Git User’s Manual.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>