<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-status - Show the working tree status</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git status' [&lt;options&gt;...] [--] [&lt;pathspec&gt;...]</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Displays paths that have differences between the index file and the
current HEAD commit, paths that have differences between the working
tree and the index file, and paths in the working tree that are not
tracked by Git (and are not ignored by 
                    <a href="/docs/gitignore">gitignore[5]</a>). The first
are what you 
                    <em>would</em> commit by running 
                    <code>git commit</code>; the second and
third are what you 
                    <em>could</em> commit by running 
                    <em>git add</em> before running

                    <code>git commit</code>.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-s</dt>
                    <dt class="hdlist1">--short</dt>
                    <dd>
                        <p>Give the output in the short-format.</p>
                    </dd>
                    <dt class="hdlist1">-b</dt>
                    <dt class="hdlist1">--branch</dt>
                    <dd>
                        <p>Show the branch and tracking info even in short-format.</p>
                    </dd>
                    <dt class="hdlist1">--porcelain</dt>
                    <dd>
                        <p>Give the output in an easy-to-parse format for scripts.
This is similar to the short output, but will remain stable
across Git versions and regardless of user configuration. See
below for details.</p>
                    </dd>
                    <dt class="hdlist1">--long</dt>
                    <dd>
                        <p>Give the output in the long-format. This is the default.</p>
                    </dd>
                    <dt class="hdlist1">-v</dt>
                    <dt class="hdlist1">--verbose</dt>
                    <dd>
                        <p>In addition to the names of files that have been changed, also
show the textual changes that are staged to be committed
(i.e., like the output of 
                            <code>git diff --cached</code>). If 
                            <code>-v</code> is specified
twice, then also show the changes in the working tree that
have not yet been staged (i.e., like the output of 
                            <code>git diff</code>).
                        </p>
                    </dd>
                    <dt class="hdlist1">-u[&lt;mode&gt;]</dt>
                    <dt class="hdlist1">--untracked-files[=&lt;mode&gt;]</dt>
                    <dd>
                        <p>Show untracked files.</p>
                        <div class="paragraph">
                            <p>The mode parameter is optional (defaults to 
                                <em>all</em>), and is used to
specify the handling of untracked files.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>The possible options are:</p>
                        </div>
                        <div class="ulist">
                            <ul>
                                <li>
                                    <p>
                                        <em>no</em>     - Show no untracked files.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <em>normal</em> - Shows untracked files and directories.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <em>all</em>    - Also shows individual files in untracked directories.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="paragraph">
                            <p>When 
                                <code>-u</code> option is not used, untracked files and directories are
shown (i.e. the same as specifying 
                                <code>normal</code>), to help you avoid
forgetting to add newly created files.  Because it takes extra work
to find untracked files in the filesystem, this mode may take some
time in a large working tree.
Consider enabling untracked cache and split index if supported (see

                                <code>git update-index --untracked-cache</code> and 
                                <code>git update-index
--split-index</code>), Otherwise you can use 
                                <code>no</code> to have 
                                <code>git status</code>
return more quickly without showing untracked files.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>The default can be changed using the status.showUntrackedFiles
configuration variable documented in 
                                <a href="/docs/git-config">git-config[1]</a>.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--ignore-submodules[=&lt;when&gt;]</dt>
                    <dd>
                        <p>Ignore changes to submodules when looking for changes. &lt;when&gt; can be
either "none", "untracked", "dirty" or "all", which is the default.
Using "none" will consider the submodule modified when it either contains
untracked or modified files or its HEAD differs from the commit recorded
in the superproject and can be used to override any settings of the

                            <em>ignore</em> option in 
                            <a href="/docs/git-config">git-config[1]</a> or 
                            <a href="/docs/gitmodules">gitmodules[5]</a>. When
"untracked" is used submodules are not considered dirty when they only
contain untracked content (but they are still scanned for modified
content). Using "dirty" ignores all changes to the work tree of submodules,
only changes to the commits stored in the superproject are shown (this was
the behavior before 1.7.0). Using "all" hides all changes to submodules
(and suppresses the output of submodule summaries when the config option

                            <code>status.submoduleSummary</code> is set).
                        </p>
                    </dd>
                    <dt class="hdlist1">--ignored</dt>
                    <dd>
                        <p>Show ignored files as well.</p>
                    </dd>
                    <dt class="hdlist1">-z</dt>
                    <dd>
                        <p>Terminate entries with NUL, instead of LF.  This implies
the 
                            <code>--porcelain</code> output format if no other format is given.
                        </p>
                    </dd>
                    <dt class="hdlist1">--column[=&lt;options&gt;]</dt>
                    <dt class="hdlist1">--no-column</dt>
                    <dd>
                        <p>Display untracked files in columns. See configuration variable
column.status for option syntax.
                            <code>--column</code> and 
                            <code>--no-column</code>
without options are equivalent to 
                            <em>always</em> and 
                            <em>never</em>
respectively.
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_output">OUTPUT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The output from this command is designed to be used as a commit
template comment.
The default, long format, is designed to be human readable,
verbose and descriptive.  Its contents and format are subject to change
at any time.</p>
            </div>
            <div class="paragraph">
                <p>The paths mentioned in the output, unlike many other Git commands, are
made relative to the current directory if you are working in a
subdirectory (this is on purpose, to help cutting and pasting). See
the status.relativePaths config option below.</p>
            </div>
            <div class="sect2">
                <h3 id="_short_format">Short Format</h3>
                <div class="paragraph">
                    <p>In the short-format, the status of each path is shown as</p>
                </div>
                <div class="literalblock">
                    <div class="content">
                        <pre>XY PATH1 -&gt; PATH2</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>where 
                        <code>PATH1</code> is the path in the 
                        <code>HEAD</code>, and the " 
                        <code>-&gt; PATH2</code>" part is
shown only when 
                        <code>PATH1</code> corresponds to a different path in the
index/worktree (i.e. the file is renamed). The 
                        <code>XY</code> is a two-letter
status code.
                    </p>
                </div>
                <div class="paragraph">
                    <p>The fields (including the 
                        <code>-&gt;</code>) are separated from each other by a
single space. If a filename contains whitespace or other nonprintable
characters, that field will be quoted in the manner of a C string
literal: surrounded by ASCII double quote (34) characters, and with
interior special characters backslash-escaped.
                    </p>
                </div>
                <div class="paragraph">
                    <p>For paths with merge conflicts, 
                        <code>X</code> and 
                        <code>Y</code> show the modification
states of each side of the merge. For paths that do not have merge
conflicts, 
                        <code>X</code> shows the status of the index, and 
                        <code>Y</code> shows the status
of the work tree.  For untracked paths, 
                        <code>XY</code> are 
                        <code>??</code>.  Other status
codes can be interpreted as follows:
                    </p>
                </div>
                <div class="ulist">
                    <ul>
                        <li>
                            <p>' ' = unmodified</p>
                        </li>
                        <li>
                            <p>
                                <em>M</em> = modified
                            </p>
                        </li>
                        <li>
                            <p>
                                <em>A</em> = added
                            </p>
                        </li>
                        <li>
                            <p>
                                <em>D</em> = deleted
                            </p>
                        </li>
                        <li>
                            <p>
                                <em>R</em> = renamed
                            </p>
                        </li>
                        <li>
                            <p>
                                <em>C</em> = copied
                            </p>
                        </li>
                        <li>
                            <p>
                                <em>U</em> = updated but unmerged
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="paragraph">
                    <p>Ignored files are not listed, unless 
                        <code>--ignored</code> option is in effect,
in which case 
                        <code>XY</code> are 
                        <code>!!</code>.
                    </p>
                </div>
                <div class="literalblock">
                    <div class="content">
                        <pre>X          Y     Meaning
-------------------------------------------------
          [MD]   not updated
M        [ MD]   updated in index
A        [ MD]   added to index
D         [ M]   deleted from index
R        [ MD]   renamed in index
C        [ MD]   copied in index
[MARC]           index and work tree matches
[ MARC]     M    work tree changed since index
[ MARC]     D    deleted in work tree
-------------------------------------------------
D           D    unmerged, both deleted
A           U    unmerged, added by us
U           D    unmerged, deleted by them
U           A    unmerged, added by them
D           U    unmerged, deleted by us
A           A    unmerged, both added
U           U    unmerged, both modified
-------------------------------------------------
?           ?    untracked
!           !    ignored
-------------------------------------------------</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>If -b is used the short-format status is preceded by a line</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_branchname_tracking_info">branchname tracking info</h2>
        <div class="sectionbody">
            <div class="sect2">
                <h3 id="_porcelain_format">Porcelain Format</h3>
                <div class="paragraph">
                    <p>The porcelain format is similar to the short format, but is guaranteed
not to change in a backwards-incompatible way between Git versions or
based on user configuration. This makes it ideal for parsing by scripts.
The description of the short format above also describes the porcelain
format, with a few exceptions:</p>
                </div>
                <div class="olist arabic">
                    <ol class="arabic">
                        <li>
                            <p>The user’s color.status configuration is not respected; color will
always be off.</p>
                        </li>
                        <li>
                            <p>The user’s status.relativePaths configuration is not respected; paths
shown will always be relative to the repository root.</p>
                        </li>
                    </ol>
                </div>
                <div class="paragraph">
                    <p>There is also an alternate -z format recommended for machine parsing. In
that format, the status field is the same, but some other things
change.  First, the 
                        <em>-&gt;</em> is omitted from rename entries and the field
order is reversed (e.g 
                        <em>from -&gt; to</em> becomes 
                        <em>to from</em>). Second, a NUL
(ASCII 0) follows each filename, replacing space as a field separator
and the terminating newline (but a space still separates the status
field from the first filename).  Third, filenames containing special
characters are not specially formatted; no quoting or
backslash-escaping is performed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_configuration">CONFIGURATION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The command honors 
                    <code>color.status</code> (or 
                    <code>status.color</code> — they
mean the same thing and the latter is kept for backward
compatibility) and 
                    <code>color.status.&lt;slot&gt;</code> configuration variables
to colorize its output.
                </p>
            </div>
            <div class="paragraph">
                <p>If the config variable 
                    <code>status.relativePaths</code> is set to false, then all
paths shown are relative to the repository root, not to the current
directory.
                </p>
            </div>
            <div class="paragraph">
                <p>If 
                    <code>status.submoduleSummary</code> is set to a non zero number or true (identical
to -1 or an unlimited number), the submodule summary will be enabled for
the long format and a summary of commits for modified submodules will be
shown (see --summary-limit option of 
                    <a href="/docs/git-submodule">git-submodule[1]</a>). Please note
that the summary output from the status command will be suppressed for all
submodules when 
                    <code>diff.ignoreSubmodules</code> is set to 
                    <em>all</em> or only for those
submodules where 
                    <code>submodule.&lt;name&gt;.ignore=all</code>. To also view the summary for
ignored submodules you can either use the --ignore-submodules=dirty command
line option or the 
                    <em>git submodule summary</em> command, which shows a similar
output but does not honor these settings.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_see_also">SEE ALSO</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    <a href="/docs/gitignore">gitignore[5]</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>