<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-rm - Remove files from the working tree and from the index</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git rm' [-f | --force] [-n] [-r] [--cached] [--ignore-unmatch] [--quiet] [--] &lt;file&gt;...</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Remove files from the index, or from the working tree and the index.

                    <code>git rm</code> will not remove a file from just your working directory.
(There is no option to remove a file only from the working tree
and yet keep it in the index; use 
                    <code>/bin/rm</code> if you want to do that.)
The files being removed have to be identical to the tip of the branch,
and no updates to their contents can be staged in the index,
though that default behavior can be overridden with the 
                    <code>-f</code> option.
When 
                    <code>--cached</code> is given, the staged content has to
match either the tip of the branch or the file on disk,
allowing the file to be removed from just the index.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">&lt;file&gt;…</dt>
                    <dd>
                        <p>Files to remove.  Fileglobs (e.g. 
                            <code>*.c</code>) can be given to
remove all matching files.  If you want Git to expand
file glob characters, you may need to shell-escape them.
A leading directory name
(e.g. 
                            <code>dir</code> to remove 
                            <code>dir/file1</code> and 
                            <code>dir/file2</code>) can be
given to remove all files in the directory, and recursively
all sub-directories,
but this requires the 
                            <code>-r</code> option to be explicitly given.
                        </p>
                    </dd>
                    <dt class="hdlist1">-f</dt>
                    <dt class="hdlist1">--force</dt>
                    <dd>
                        <p>Override the up-to-date check.</p>
                    </dd>
                    <dt class="hdlist1">-n</dt>
                    <dt class="hdlist1">--dry-run</dt>
                    <dd>
                        <p>Don’t actually remove any file(s).  Instead, just show
if they exist in the index and would otherwise be removed
by the command.</p>
                    </dd>
                    <dt class="hdlist1">-r</dt>
                    <dd>
                        <p>Allow recursive removal when a leading directory name is
given.</p>
                    </dd>
                    <dt class="hdlist1">--</dt>
                    <dd>
                        <p>This option can be used to separate command-line options from
the list of files, (useful when filenames might be mistaken
for command-line options).</p>
                    </dd>
                    <dt class="hdlist1">--cached</dt>
                    <dd>
                        <p>Use this option to unstage and remove paths only from the index.
Working tree files, whether modified or not, will be
left alone.</p>
                    </dd>
                    <dt class="hdlist1">--ignore-unmatch</dt>
                    <dd>
                        <p>Exit with a zero status even if no files matched.</p>
                    </dd>
                    <dt class="hdlist1">-q</dt>
                    <dt class="hdlist1">--quiet</dt>
                    <dd>
                        <p>
                            <code>git rm</code> normally outputs one line (in the form of an 
                            <code>rm</code> command)
for each file removed. This option suppresses that output.
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_discussion">DISCUSSION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The &lt;file&gt; list given to the command can be exact pathnames,
file glob patterns, or leading directory names.  The command
removes only the paths that are known to Git.  Giving the name of
a file that you have not told Git about does not remove that file.</p>
            </div>
            <div class="paragraph">
                <p>File globbing matches across directory boundaries.  Thus, given
two directories 
                    <code>d</code> and 
                    <code>d2</code>, there is a difference between
using 
                    <code>git rm 'd*'</code> and 
                    <code>git rm 'd/*'</code>, as the former will
also remove all of directory 
                    <code>d2</code>.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_removing_files_that_have_disappeared_from_the_filesystem">REMOVING FILES THAT HAVE DISAPPEARED FROM THE FILESYSTEM</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>There is no option for 
                    <code>git rm</code> to remove from the index only
the paths that have disappeared from the filesystem. However,
depending on the use case, there are several ways that can be
done.
                </p>
            </div>
            <div class="sect2">
                <h3 id="_using_git_commit_a">Using “git commit -a”</h3>
                <div class="paragraph">
                    <p>If you intend that your next commit should record all modifications
of tracked files in the working tree and record all removals of
files that have been removed from the working tree with 
                        <code>rm</code>
(as opposed to 
                        <code>git rm</code>), use 
                        <code>git commit -a</code>, as it will
automatically notice and record all removals.  You can also have a
similar effect without committing by using 
                        <code>git add -u</code>.
                    </p>
                </div>
            </div>
            <div class="sect2">
                <h3 id="_using_git_add_a">Using “git add -A”</h3>
                <div class="paragraph">
                    <p>When accepting a new code drop for a vendor branch, you probably
want to record both the removal of paths and additions of new paths
as well as modifications of existing paths.</p>
                </div>
                <div class="paragraph">
                    <p>Typically you would first remove all tracked files from the working
tree using this command:</p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>git ls-files -z | xargs -0 rm -f</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>and then untar the new code in the working tree. Alternately
you could 
                        <em>rsync</em> the changes into the working tree.
                    </p>
                </div>
                <div class="paragraph">
                    <p>After that, the easiest way to record all removals, additions, and
modifications in the working tree is:</p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>git add -A</pre>
                    </div>
                </div>
                <div class="paragraph">
                    <p>See 
                        <a href="/docs/git-add">git-add[1]</a>.
                    </p>
                </div>
            </div>
            <div class="sect2">
                <h3 id="_other_ways">Other ways</h3>
                <div class="paragraph">
                    <p>If all you really want to do is to remove from the index the files
that are no longer present in the working tree (perhaps because
your working tree is dirty so that you cannot use 
                        <code>git commit -a</code>),
use the following command:
                    </p>
                </div>
                <div class="listingblock">
                    <div class="content">
                        <pre>git diff --name-only --diff-filter=D -z | xargs -0 git rm --cached</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_submodules">SUBMODULES</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Only submodules using a gitfile (which means they were cloned
with a Git version 1.7.8 or newer) will be removed from the work
tree, as their repository lives inside the .git directory of the
superproject. If a submodule (or one of those nested inside it)
still uses a .git directory, 
                    <code>git rm</code> will fail - no matter if forced
or not - to protect the submodule’s history. If it exists the
submodule.&lt;name&gt; section in the 
                    <a href="/docs/gitmodules">gitmodules[5]</a> file will also
be removed and that file will be staged (unless --cached or -n are used).
                </p>
            </div>
            <div class="paragraph">
                <p>A submodule is considered up-to-date when the HEAD is the same as
recorded in the index, no tracked files are modified and no untracked
files that aren’t ignored are present in the submodules work tree.
Ignored files are deemed expendable and won’t stop a submodule’s work
tree from being removed.</p>
            </div>
            <div class="paragraph">
                <p>If you only want to remove the local checkout of a submodule from your
work tree without committing the removal,
use 
                    <a href="/docs/git-submodule">git-submodule[1]</a>
                    <code>deinit</code> instead.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">EXAMPLES</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">
                        <code>git rm Documentation/\*.txt</code>
                    </dt>
                    <dd>
                        <p>Removes all 
                            <code>*.txt</code> files from the index that are under the

                            <code>Documentation</code> directory and any of its subdirectories.
                        </p>
                        <div class="paragraph">
                            <p>Note that the asterisk 
                                <code>*</code> is quoted from the shell in this
example; this lets Git, and not the shell, expand the pathnames
of files and subdirectories under the 
                                <code>Documentation/</code> directory.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">
                        <code>git rm -f git-*.sh</code>
                    </dt>
                    <dd>
                        <p>Because this example lets the shell expand the asterisk
(i.e. you are listing the files explicitly), it
does not remove 
                            <code>subdir/git-foo.sh</code>.
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_bugs">BUGS</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Each time a superproject update removes a populated submodule
(e.g. when switching between commits before and after the removal) a
stale submodule checkout will remain in the old location. Removing the
old directory is only safe when it uses a gitfile, as otherwise the
history of the submodule will be deleted too. This step will be
obsolete when recursive submodule update has been implemented.</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_see_also">SEE ALSO</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    <a href="/docs/git-add">git-add[1]</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>