<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-mv - Move or rename a file, a directory, or a symlink</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git mv' &lt;options&gt;... &lt;args&gt;...</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Move or rename a file, directory or symlink.</p>
            </div>
            <div class="literalblock">
                <div class="content">
                    <pre>git mv [-v] [-f] [-n] [-k] &lt;source&gt; &lt;destination&gt;
git mv [-v] [-f] [-n] [-k] &lt;source&gt; ... &lt;destination directory&gt;</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>In the first form, it renames &lt;source&gt;, which must exist and be either
a file, symlink or directory, to &lt;destination&gt;.
In the second form, the last argument has to be an existing
directory; the given sources will be moved into this directory.</p>
            </div>
            <div class="paragraph">
                <p>The index is updated after successful completion, but the change must still be
committed.</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-f</dt>
                    <dt class="hdlist1">--force</dt>
                    <dd>
                        <p>Force renaming or moving of a file even if the target exists</p>
                    </dd>
                    <dt class="hdlist1">-k</dt>
                    <dd>
                        <p>    Skip move or rename actions which would lead to an error
condition. An error happens when a source is neither existing nor
controlled by Git, or when it would overwrite an existing
    file unless 
                            <em>-f</em> is given.
                        </p>
                    </dd>
                    <dt class="hdlist1">-n</dt>
                    <dt class="hdlist1">--dry-run</dt>
                    <dd>
                        <p>Do nothing; only show what would happen</p>
                    </dd>
                    <dt class="hdlist1">-v</dt>
                    <dt class="hdlist1">--verbose</dt>
                    <dd>
                        <p>Report the names of files as they are moved.</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_submodules">SUBMODULES</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Moving a submodule using a gitfile (which means they were cloned
with a Git version 1.7.8 or newer) will update the gitfile and
core.worktree setting to make the submodule work in the new location.
It also will attempt to update the submodule.&lt;name&gt;.path setting in
the 
                    <a href="/docs/gitmodules">gitmodules[5]</a> file and stage that file (unless -n is used).
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_bugs">BUGS</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Each time a superproject update moves a populated submodule (e.g. when
switching between commits before and after the move) a stale submodule
checkout will remain in the old location and an empty directory will
appear in the new location. To populate the submodule again in the new
location the user will have to run "git submodule update"
afterwards. Removing the old directory is only safe when it uses a
gitfile, as otherwise the history of the submodule will be deleted
too. Both steps will be obsolete when recursive submodule update has
been implemented.</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>