<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-add - Add file contents to the index</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git add' [--verbose | -v] [--dry-run | -n] [--force | -f] [--interactive | -i] [--patch | -p]
	  [--edit | -e] [--[no-]all | --[no-]ignore-removal | [--update | -u]]
	  [--intent-to-add | -N] [--refresh] [--ignore-errors] [--ignore-missing]
	  [--] [&lt;pathspec&gt;...]</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>This command updates the index using the current content found in
the working tree, to prepare the content staged for the next commit.
It typically adds the current content of existing paths as a whole,
but with some options it can also be used to add content with
only part of the changes made to the working tree files applied, or
remove paths that do not exist in the working tree anymore.</p>
            </div>
            <div class="paragraph">
                <p>The "index" holds a snapshot of the content of the working tree, and it
is this snapshot that is taken as the contents of the next commit.  Thus
after making any changes to the working directory, and before running
the commit command, you must use the 
                    <code>add</code> command to add any new or
modified files to the index.
                </p>
            </div>
            <div class="paragraph">
                <p>This command can be performed multiple times before a commit.  It only
adds the content of the specified file(s) at the time the add command is
run; if you want subsequent changes included in the next commit, then
you must run 
                    <code>git add</code> again to add the new content to the index.
                </p>
            </div>
            <div class="paragraph">
                <p>The 
                    <code>git status</code> command can be used to obtain a summary of which
files have changes that are staged for the next commit.
                </p>
            </div>
            <div class="paragraph">
                <p>The 
                    <code>git add</code> command will not add ignored files by default.  If any
ignored files were explicitly specified on the command line, 
                    <code>git add</code>
will fail with a list of ignored files.  Ignored files reached by
directory recursion or filename globbing performed by Git (quote your
globs before the shell) will be silently ignored.  The 
                    <em>git add</em> command can
be used to add ignored files with the 
                    <code>-f</code> (force) option.
                </p>
            </div>
            <div class="paragraph">
                <p>Please see 
                    <a href="/docs/git-commit">git-commit[1]</a> for alternative ways to add content to a
commit.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">&lt;pathspec&gt;…</dt>
                    <dd>
                        <p>Files to add content from.  Fileglobs (e.g. 
                            <code>*.c</code>) can
be given to add all matching files.  Also a
leading directory name (e.g. 
                            <code>dir</code> to add 
                            <code>dir/file1</code>
and 
                            <code>dir/file2</code>) can be given to update the index to
match the current state of the directory as a whole (e.g.
specifying 
                            <code>dir</code> will record not just a file 
                            <code>dir/file1</code>
modified in the working tree, a file 
                            <code>dir/file2</code> added to
the working tree, but also a file 
                            <code>dir/file3</code> removed from
the working tree.  Note that older versions of Git used
to ignore removed files; use 
                            <code>--no-all</code> option if you want
to add modified or new files but ignore removed    ones.
                        </p>
                    </dd>
                    <dt class="hdlist1">-n</dt>
                    <dt class="hdlist1">--dry-run</dt>
                    <dd>
                        <p>Don’t actually add the file(s), just show if they exist and/or will
be ignored.</p>
                    </dd>
                    <dt class="hdlist1">-v</dt>
                    <dt class="hdlist1">--verbose</dt>
                    <dd>
                        <p>Be verbose.</p>
                    </dd>
                    <dt class="hdlist1">-f</dt>
                    <dt class="hdlist1">--force</dt>
                    <dd>
                        <p>Allow adding otherwise ignored files.</p>
                    </dd>
                    <dt class="hdlist1">-i</dt>
                    <dt class="hdlist1">--interactive</dt>
                    <dd>
                        <p>Add modified contents in the working tree interactively to
the index. Optional path arguments may be supplied to limit
operation to a subset of the working tree. See “Interactive
mode” for details.</p>
                    </dd>
                    <dt class="hdlist1">-p</dt>
                    <dt class="hdlist1">--patch</dt>
                    <dd>
                        <p>Interactively choose hunks of patch between the index and the
work tree and add them to the index. This gives the user a chance
to review the difference before adding modified contents to the
index.</p>
                        <div class="paragraph">
                            <p>This effectively runs 
                                <code>add --interactive</code>, but bypasses the
initial command menu and directly jumps to the 
                                <code>patch</code> subcommand.
See “Interactive mode” for details.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">-e</dt>
                    <dt class="hdlist1">--edit</dt>
                    <dd>
                        <p>Open the diff vs. the index in an editor and let the user
edit it.  After the editor was closed, adjust the hunk headers
and apply the patch to the index.</p>
                        <div class="paragraph">
                            <p>The intent of this option is to pick and choose lines of the patch to
apply, or even to modify the contents of lines to be staged. This can be
quicker and more flexible than using the interactive hunk selector.
However, it is easy to confuse oneself and create a patch that does not
apply to the index. See EDITING PATCHES below.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">-u</dt>
                    <dt class="hdlist1">--update</dt>
                    <dd>
                        <p>Update the index just where it already has an entry matching
&lt;pathspec&gt;.  This removes as well as modifies index entries to
match the working tree, but adds no new files.</p>
                        <div class="paragraph">
                            <p>If no &lt;pathspec&gt; is given when 
                                <code>-u</code> option is used, all
tracked files in the entire working tree are updated (old versions
of Git used to limit the update to the current directory and its
subdirectories).
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">-A</dt>
                    <dt class="hdlist1">--all</dt>
                    <dt class="hdlist1">--no-ignore-removal</dt>
                    <dd>
                        <p>Update the index not only where the working tree has a file
matching &lt;pathspec&gt; but also where the index already has an
entry.    This adds, modifies, and removes index entries to
match the working tree.</p>
                        <div class="paragraph">
                            <p>If no &lt;pathspec&gt; is given when 
                                <code>-A</code> option is used, all
files in the entire working tree are updated (old versions
of Git used to limit the update to the current directory and its
subdirectories).
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--no-all</dt>
                    <dt class="hdlist1">--ignore-removal</dt>
                    <dd>
                        <p>Update the index by adding new files that are unknown to the
index and files modified in the working tree, but ignore
files that have been removed from the working tree.  This
option is a no-op when no &lt;pathspec&gt; is used.</p>
                        <div class="paragraph">
                            <p>This option is primarily to help users who are used to older
versions of Git, whose "git add &lt;pathspec&gt;…" was a synonym
for "git add --no-all &lt;pathspec&gt;…", i.e. ignored removed files.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">-N</dt>
                    <dt class="hdlist1">--intent-to-add</dt>
                    <dd>
                        <p>Record only the fact that the path will be added later. An entry
for the path is placed in the index with no content. This is
useful for, among other things, showing the unstaged content of
such files with 
                            <code>git diff</code> and committing them with 
                            <code>git commit
-a</code>.
                        </p>
                    </dd>
                    <dt class="hdlist1">--refresh</dt>
                    <dd>
                        <p>Don’t add the file(s), but only refresh their stat()
information in the index.</p>
                    </dd>
                    <dt class="hdlist1">--ignore-errors</dt>
                    <dd>
                        <p>If some files could not be added because of errors indexing
them, do not abort the operation, but continue adding the
others. The command shall still exit with non-zero status.
The configuration variable 
                            <code>add.ignoreErrors</code> can be set to
true to make this the default behaviour.
                        </p>
                    </dd>
                    <dt class="hdlist1">--ignore-missing</dt>
                    <dd>
                        <p>This option can only be used together with --dry-run. By using
this option the user can check if any of the given files would
be ignored, no matter if they are already present in the work
tree or not.</p>
                    </dd>
                    <dt class="hdlist1">--</dt>
                    <dd>
                        <p>This option can be used to separate command-line options from
the list of files, (useful when filenames might be mistaken
for command-line options).</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_configuration">Configuration</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The optional configuration variable 
                    <code>core.excludesFile</code> indicates a path to a
file containing patterns of file names to exclude from git-add, similar to
$GIT_DIR/info/exclude.  Patterns in the exclude file are used in addition to
those in info/exclude.  See 
                    <a href="/docs/gitignore">gitignore[5]</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">EXAMPLES</h2>
        <div class="sectionbody">
            <div class="ulist">
                <ul>
                    <li>
                        <p>Adds content from all 
                            <code>*.txt</code> files under 
                            <code>Documentation</code> directory
and its subdirectories:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git add Documentation/\*.txt</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>Note that the asterisk 
                                <code>*</code> is quoted from the shell in this
example; this lets the command include the files from
subdirectories of 
                                <code>Documentation/</code> directory.
                            </p>
                        </div>
                    </li>
                    <li>
                        <p>Considers adding content from all git-*.sh scripts:</p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git add git-*.sh</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>Because this example lets the shell expand the asterisk (i.e. you are
listing the files explicitly), it does not consider

                                <code>subdir/git-foo.sh</code>.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_interactive_mode">Interactive mode</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>When the command enters the interactive mode, it shows the
output of the 
                    <em>status</em> subcommand, and then goes into its
interactive command loop.
                </p>
            </div>
            <div class="paragraph">
                <p>The command loop shows the list of subcommands available, and
gives a prompt "What now&gt; ".  In general, when the prompt ends
with a single 
                    <em>&gt;</em>, you can pick only one of the choices given
and type return, like this:
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>    *** Commands ***
      1: status       2: update       3: revert       4: add untracked
      5: patch        6: diff         7: quit         8: help
    What now&gt; 1</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>You also could say 
                    <code>s</code> or 
                    <code>sta</code> or 
                    <code>status</code> above as long as the
choice is unique.
                </p>
            </div>
            <div class="paragraph">
                <p>The main command loop has 6 subcommands (plus help and quit).</p>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">status</dt>
                    <dd>
                        <p>This shows the change between HEAD and index (i.e. what will be
committed if you say 
                            <code>git commit</code>), and between index and
working tree files (i.e. what you could stage further before

                            <code>git commit</code> using 
                            <code>git add</code>) for each path.  A sample output
looks like this:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>              staged     unstaged path
     1:       binary      nothing foo.png
     2:     +403/-35        +1/-1 git-add--interactive.perl</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>It shows that foo.png has differences from HEAD (but that is
binary so line count cannot be shown) and there is no
difference between indexed copy and the working tree
version (if the working tree version were also different,

                                <em>binary</em> would have been shown in place of 
                                <em>nothing</em>).  The
other file, git-add{litdd}interactive.perl, has 403 lines added
and 35 lines deleted if you commit what is in the index, but
working tree file has further modifications (one addition and
one deletion).
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">update</dt>
                    <dd>
                        <p>This shows the status information and issues an "Update&gt;&gt;"
prompt.  When the prompt ends with double 
                            <em>&gt;&gt;</em>, you can
make more than one selection, concatenated with whitespace or
comma.  Also you can say ranges.  E.g. "2-5 7,9" to choose
2,3,4,5,7,9 from the list.  If the second number in a range is
omitted, all remaining patches are taken.  E.g. "7-" to choose
7,8,9 from the list.  You can say 
                            <em>*</em> to choose everything.
                        </p>
                        <div class="paragraph">
                            <p>What you chose are then highlighted with 
                                <em>*</em>,
like this:
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>           staged     unstaged path
  1:       binary      nothing foo.png
* 2:     +403/-35        +1/-1 git-add--interactive.perl</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>To remove selection, prefix the input with 
                                <code>-</code>
like this:
                            </p>
                        </div>
                        <div class="listingblock">
                            <div class="content">
                                <pre>Update&gt;&gt; -2</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>After making the selection, answer with an empty line to stage the
contents of working tree files for selected paths in the index.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">revert</dt>
                    <dd>
                        <p>This has a very similar UI to 
                            <em>update</em>, and the staged
information for selected paths are reverted to that of the
HEAD version.  Reverting new paths makes them untracked.
                        </p>
                    </dd>
                    <dt class="hdlist1">add untracked</dt>
                    <dd>
                        <p>This has a very similar UI to 
                            <em>update</em> and

                            <em>revert</em>, and lets you add untracked paths to the index.
                        </p>
                    </dd>
                    <dt class="hdlist1">patch</dt>
                    <dd>
                        <p>This lets you choose one path out of a 
                            <em>status</em> like selection.
After choosing the path, it presents the diff between the index
and the working tree file and asks you if you want to stage
the change of each hunk.  You can select one of the following
options and type return:
                        </p>
                        <div class="literalblock">
                            <div class="content">
                                <pre>y - stage this hunk
n - do not stage this hunk
q - quit; do not stage this hunk or any of the remaining ones
a - stage this hunk and all later hunks in the file
d - do not stage this hunk or any of the later hunks in the file
g - select a hunk to go to
/ - search for a hunk matching the given regex
j - leave this hunk undecided, see next undecided hunk
J - leave this hunk undecided, see next hunk
k - leave this hunk undecided, see previous undecided hunk
K - leave this hunk undecided, see previous hunk
s - split the current hunk into smaller hunks
e - manually edit the current hunk
? - print help</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>After deciding the fate for all hunks, if there is any hunk
that was chosen, the index is updated with the selected hunks.</p>
                        </div>
                        <div class="paragraph">
                            <p>You can omit having to type return here, by setting the configuration
variable 
                                <code>interactive.singleKey</code> to 
                                <code>true</code>.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">diff</dt>
                    <dd>
                        <p>This lets you review what will be committed (i.e. between
HEAD and index).</p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_editing_patches">EDITING PATCHES</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Invoking 
                    <code>git add -e</code> or selecting 
                    <code>e</code> from the interactive hunk
selector will open a patch in your editor; after the editor exits, the
result is applied to the index. You are free to make arbitrary changes
to the patch, but note that some changes may have confusing results, or
even result in a patch that cannot be applied.  If you want to abort the
operation entirely (i.e., stage nothing new in the index), simply delete
all lines of the patch. The list below describes some common things you
may see in a patch, and which editing operations make sense on them.
                </p>
            </div>
            <div class="openblock">
                <div class="content">
                    <div class="dlist">
                        <dl>
                            <dt class="hdlist1">added content</dt>
                            <dd>
                                <p>Added content is represented by lines beginning with "+". You can
prevent staging any addition lines by deleting them.</p>
                            </dd>
                            <dt class="hdlist1">removed content</dt>
                            <dd>
                                <p>Removed content is represented by lines beginning with "-". You can
prevent staging their removal by converting the "-" to a " " (space).</p>
                            </dd>
                            <dt class="hdlist1">modified content</dt>
                            <dd>
                                <p>Modified content is represented by "-" lines (removing the old content)
followed by "+" lines (adding the replacement content). You can
prevent staging the modification by converting "-" lines to " ", and
removing "+" lines. Beware that modifying only half of the pair is
likely to introduce confusing changes to the index.</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="paragraph">
                <p>There are also more complex operations that can be performed. But beware
that because the patch is applied only to the index and not the working
tree, the working tree will appear to "undo" the change in the index.
For example, introducing a new line into the index that is in neither
the HEAD nor the working tree will stage the new line for commit, but
the line will appear to be reverted in the working tree.</p>
            </div>
            <div class="paragraph">
                <p>Avoid using these constructs, or do so with extreme caution.</p>
            </div>
            <div class="openblock">
                <div class="content">
                    <div class="dlist">
                        <dl>
                            <dt class="hdlist1">removing untouched content</dt>
                            <dd>
                                <p>Content which does not differ between the index and working tree may be
shown on context lines, beginning with a " " (space).  You can stage
context lines for removal by converting the space to a "-". The
resulting working tree file will appear to re-add the content.</p>
                            </dd>
                            <dt class="hdlist1">modifying existing content</dt>
                            <dd>
                                <p>One can also modify context lines by staging them for removal (by
converting " " to "-") and adding a "+" line with the new content.
Similarly, one can modify "+" lines for existing additions or
modifications. In all cases, the new modification will appear reverted
in the working tree.</p>
                            </dd>
                            <dt class="hdlist1">new content</dt>
                            <dd>
                                <p>You may also add new content that does not exist in the patch; simply
add new lines, each starting with "+". The addition will appear
reverted in the working tree.</p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="paragraph">
                <p>There are also several operations which should be avoided entirely, as
they will make the patch impossible to apply:</p>
            </div>
            <div class="ulist">
                <ul>
                    <li>
                        <p>adding context (" ") or removal ("-") lines</p>
                    </li>
                    <li>
                        <p>deleting context or removal lines</p>
                    </li>
                    <li>
                        <p>modifying the contents of context or removal lines</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_see_also">SEE ALSO</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    <a href="/docs/git-status">git-status[1]</a>
                    <a href="/docs/git-rm">git-rm[1]</a>
                    <a href="/docs/git-reset">git-reset[1]</a>
                    <a href="/docs/git-mv">git-mv[1]</a>
                    <a href="/docs/git-commit">git-commit[1]</a>
                    <a href="/docs/git-update-index">git-update-index[1]</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>