<div id="main">
    <div class="sect1">
        <h2 id="_name">NAME</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>git-merge - Join two or more development histories together</p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_synopsis">SYNOPSIS</h2>
        <div class="sectionbody">
            <div class="verseblock">
                <pre class="content">'git merge' [-n] [--stat] [--no-commit] [--squash] [--[no-]edit]
	[-s &lt;strategy&gt;] [-X &lt;strategy-option&gt;] [-S[&lt;key-id&gt;]]
	[--[no-]rerere-autoupdate] [-m &lt;msg&gt;] [&lt;commit&gt;...]
'git merge' &lt;msg&gt; HEAD &lt;commit&gt;...
'git merge' --abort</pre>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_description">DESCRIPTION</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Incorporates changes from the named commits (since the time their
histories diverged from the current branch) into the current
branch.  This command is used by 
                    <em>git pull</em> to incorporate changes
from another repository and can be used by hand to merge changes
from one branch into another.
                </p>
            </div>
            <div class="paragraph">
                <p>Assume the following history exists and the current branch is
"
                    <code>master</code>":
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>	  A---B---C topic
	 /
    D---E---F---G master</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>Then "
                    <code>git merge topic</code>" will replay the changes made on the

                    <code>topic</code> branch since it diverged from 
                    <code>master</code> (i.e., 
                    <code>E</code>) until
its current commit (
                    <code>C</code>) on top of 
                    <code>master</code>, and record the result
in a new commit along with the names of the two parent commits and
a log message from the user describing the changes.
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>	  A---B---C topic
	 /         \
    D---E---F---G---H master</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>The second syntax (&lt;msg&gt; 
                    <code>HEAD</code> &lt;commit&gt;…) is supported for
historical reasons.  Do not use it from the command line or in
new scripts.  It is the same as 
                    <code>git merge -m &lt;msg&gt; &lt;commit&gt;...</code>.
                </p>
            </div>
            <div class="paragraph">
                <p>The third syntax ("
                    <code>git merge --abort</code>") can only be run after the
merge has resulted in conflicts. 
                    <em>git merge --abort</em> will abort the
merge process and try to reconstruct the pre-merge state. However,
if there were uncommitted changes when the merge started (and
especially if those changes were further modified after the merge
was started), 
                    <em>git merge --abort</em> will in some cases be unable to
reconstruct the original (pre-merge) changes. Therefore:
                </p>
            </div>
            <div class="paragraph">
                <p>
                    <strong>Warning</strong>: Running 
                    <em>git merge</em> with non-trivial uncommitted changes is
discouraged: while possible, it may leave you in a state that is hard to
back out of in the case of a conflict.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_options">OPTIONS</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">--commit</dt>
                    <dt class="hdlist1">--no-commit</dt>
                    <dd>
                        <p>Perform the merge and commit the result. This option can
be used to override --no-commit.</p>
                        <div class="paragraph">
                            <p>With --no-commit perform the merge but pretend the merge
failed and do not autocommit, to give the user a chance to
inspect and further tweak the merge result before committing.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--edit</dt>
                    <dt class="hdlist1">-e</dt>
                    <dt class="hdlist1">--no-edit</dt>
                    <dd>
                        <p>	Invoke an editor before committing successful mechanical merge to
	further edit the auto-generated merge message, so that the user
	can explain and justify the merge. The 
                            <code>--no-edit</code> option can be
	used to accept the auto-generated message (this is generally
	discouraged).
The 
                            <code>--edit</code> (or 
                            <code>-e</code>) option is still useful if you are
giving a draft message with the 
                            <code>-m</code> option from the command line
and want to edit it in the editor.
                        </p>
                        <div class="paragraph">
                            <p>Older scripts may depend on the historical behaviour of not allowing the
user to edit the merge log message. They will see an editor opened when
they run 
                                <code>git merge</code>. To make it easier to adjust such scripts to the
updated behaviour, the environment variable 
                                <code>GIT_MERGE_AUTOEDIT</code> can be
set to 
                                <code>no</code> at the beginning of them.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--ff</dt>
                    <dd>
                        <p>When the merge resolves as a fast-forward, only update the branch
pointer, without creating a merge commit.  This is the default
behavior.</p>
                    </dd>
                    <dt class="hdlist1">--no-ff</dt>
                    <dd>
                        <p>Create a merge commit even when the merge resolves as a
fast-forward.  This is the default behaviour when merging an
annotated (and possibly signed) tag.</p>
                    </dd>
                    <dt class="hdlist1">--ff-only</dt>
                    <dd>
                        <p>Refuse to merge and exit with a non-zero status unless the
current 
                            <code>HEAD</code> is already up-to-date or the merge can be
resolved as a fast-forward.
                        </p>
                    </dd>
                    <dt class="hdlist1">--log[=&lt;n&gt;]</dt>
                    <dt class="hdlist1">--no-log</dt>
                    <dd>
                        <p>In addition to branch names, populate the log message with
one-line descriptions from at most &lt;n&gt; actual commits that are being
merged. See also 
                            <a href="/docs/git-fmt-merge-msg">git-fmt-merge-msg[1]</a>.
                        </p>
                        <div class="paragraph">
                            <p>With --no-log do not list one-line descriptions from the
actual commits being merged.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--stat</dt>
                    <dt class="hdlist1">-n</dt>
                    <dt class="hdlist1">--no-stat</dt>
                    <dd>
                        <p>Show a diffstat at the end of the merge. The diffstat is also
controlled by the configuration option merge.stat.</p>
                        <div class="paragraph">
                            <p>With -n or --no-stat do not show a diffstat at the end of the
merge.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--squash</dt>
                    <dt class="hdlist1">--no-squash</dt>
                    <dd>
                        <p>Produce the working tree and index state as if a real merge
happened (except for the merge information), but do not actually
make a commit, move the 
                            <code>HEAD</code>, or record 
                            <code>$GIT_DIR/MERGE_HEAD</code>
(to cause the next 
                            <code>git commit</code> command to create a merge
commit).  This allows you to create a single commit on top of
the current branch whose effect is the same as merging another
branch (or more in case of an octopus).
                        </p>
                        <div class="paragraph">
                            <p>With --no-squash perform the merge and commit the result. This
option can be used to override --squash.</p>
                        </div>
                    </dd>
                    <dt class="hdlist1">-s &lt;strategy&gt;</dt>
                    <dt class="hdlist1">--strategy=&lt;strategy&gt;</dt>
                    <dd>
                        <p>Use the given merge strategy; can be supplied more than
once to specify them in the order they should be tried.
If there is no 
                            <code>-s</code> option, a built-in list of strategies
is used instead (
                            <em>git merge-recursive</em> when merging a single
head, 
                            <em>git merge-octopus</em> otherwise).
                        </p>
                    </dd>
                    <dt class="hdlist1">-X &lt;option&gt;</dt>
                    <dt class="hdlist1">--strategy-option=&lt;option&gt;</dt>
                    <dd>
                        <p>Pass merge strategy specific option through to the merge
strategy.</p>
                    </dd>
                    <dt class="hdlist1">--verify-signatures</dt>
                    <dt class="hdlist1">--no-verify-signatures</dt>
                    <dd>
                        <p>Verify that the commits being merged have good and trusted GPG signatures
and abort the merge in case they do not.</p>
                    </dd>
                    <dt class="hdlist1">--summary</dt>
                    <dt class="hdlist1">--no-summary</dt>
                    <dd>
                        <p>Synonyms to --stat and --no-stat; these are deprecated and will be
removed in the future.</p>
                    </dd>
                    <dt class="hdlist1">-q</dt>
                    <dt class="hdlist1">--quiet</dt>
                    <dd>
                        <p>Operate quietly. Implies --no-progress.</p>
                    </dd>
                    <dt class="hdlist1">-v</dt>
                    <dt class="hdlist1">--verbose</dt>
                    <dd>
                        <p>Be verbose.</p>
                    </dd>
                    <dt class="hdlist1">--progress</dt>
                    <dt class="hdlist1">--no-progress</dt>
                    <dd>
                        <p>Turn progress on/off explicitly. If neither is specified,
progress is shown if standard error is connected to a terminal.
Note that not all merge strategies may support progress
reporting.</p>
                    </dd>
                </dl>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">-S[&lt;keyid&gt;]</dt>
                    <dt class="hdlist1">--gpg-sign[=&lt;keyid&gt;]</dt>
                    <dd>
                        <p>GPG-sign the resulting merge commit.</p>
                    </dd>
                    <dt class="hdlist1">-m &lt;msg&gt;</dt>
                    <dd>
                        <p>Set the commit message to be used for the merge commit (in
case one is created).</p>
                        <div class="paragraph">
                            <p>If 
                                <code>--log</code> is specified, a shortlog of the commits being merged
will be appended to the specified message.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>The 
                                <em>git fmt-merge-msg</em> command can be
used to give a good default for automated 
                                <em>git merge</em>
invocations.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">--[no-]rerere-autoupdate</dt>
                    <dd>
                        <p>Allow the rerere mechanism to update the index with the
result of auto-conflict resolution if possible.</p>
                    </dd>
                    <dt class="hdlist1">--abort</dt>
                    <dd>
                        <p>Abort the current conflict resolution process, and
try to reconstruct the pre-merge state.</p>
                        <div class="paragraph">
                            <p>If there were uncommitted worktree changes present when the merge
started, 
                                <em>git merge --abort</em> will in some cases be unable to
reconstruct these changes. It is therefore recommended to always
commit or stash your changes before running 
                                <em>git merge</em>.
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                <em>git merge --abort</em> is equivalent to 
                                <em>git reset --merge</em> when

                                <code>MERGE_HEAD</code> is present.
                            </p>
                        </div>
                    </dd>
                    <dt class="hdlist1">&lt;commit&gt;…</dt>
                    <dd>
                        <p>Commits, usually other branch heads, to merge into our branch.
Specifying more than one commit will create a merge with
more than two parents (affectionately called an Octopus merge).</p>
                        <div class="paragraph">
                            <p>If no commit is given from the command line, merge the remote-tracking
branches that the current branch is configured to use as its upstream.
See also the configuration section of this manual page.</p>
                        </div>
                        <div class="paragraph">
                            <p>When 
                                <code>FETCH_HEAD</code> (and no other commit) is specified, the branches
recorded in the 
                                <code>.git/FETCH_HEAD</code> file by the previous invocation
of 
                                <code>git fetch</code> for merging are merged to the current branch.
                            </p>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_pre_merge_checks">PRE-MERGE CHECKS</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Before applying outside changes, you should get your own work in
good shape and committed locally, so it will not be clobbered if
there are conflicts.  See also 
                    <a href="/docs/git-stash">git-stash[1]</a>.

                    <em>git pull</em> and 
                    <em>git merge</em> will stop without doing anything when
local uncommitted changes overlap with files that 
                    <em>git pull</em>/
                    <em>git
merge</em> may need to update.
                </p>
            </div>
            <div class="paragraph">
                <p>To avoid recording unrelated changes in the merge commit,

                    <em>git pull</em> and 
                    <em>git merge</em> will also abort if there are any changes
registered in the index relative to the 
                    <code>HEAD</code> commit.  (One
exception is when the changed index entries are in the state that
would result from the merge already.)
                </p>
            </div>
            <div class="paragraph">
                <p>If all named commits are already ancestors of 
                    <code>HEAD</code>, 
                    <em>git merge</em>
will exit early with the message "Already up-to-date."
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_fast_forward_merge">FAST-FORWARD MERGE</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Often the current branch head is an ancestor of the named commit.
This is the most common case especially when invoked from 
                    <em>git
pull</em>: you are tracking an upstream repository, you have committed
no local changes, and now you want to update to a newer upstream
revision.  In this case, a new commit is not needed to store the
combined history; instead, the 
                    <code>HEAD</code> (along with the index) is
updated to point at the named commit, without creating an extra
merge commit.
                </p>
            </div>
            <div class="paragraph">
                <p>This behavior can be suppressed with the 
                    <code>--no-ff</code> option.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_true_merge">TRUE MERGE</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Except in a fast-forward merge (see above), the branches to be
merged must be tied together by a merge commit that has both of them
as its parents.</p>
            </div>
            <div class="paragraph">
                <p>A merged version reconciling the changes from all branches to be
merged is committed, and your 
                    <code>HEAD</code>, index, and working tree are
updated to it.  It is possible to have modifications in the working
tree as long as they do not overlap; the update will preserve them.
                </p>
            </div>
            <div class="paragraph">
                <p>When it is not obvious how to reconcile the changes, the following
happens:</p>
            </div>
            <div class="olist arabic">
                <ol class="arabic">
                    <li>
                        <p>The 
                            <code>HEAD</code> pointer stays the same.
                        </p>
                    </li>
                    <li>
                        <p>The 
                            <code>MERGE_HEAD</code> ref is set to point to the other branch head.
                        </p>
                    </li>
                    <li>
                        <p>Paths that merged cleanly are updated both in the index file and
in your working tree.</p>
                    </li>
                    <li>
                        <p>For conflicting paths, the index file records up to three
versions: stage 1 stores the version from the common ancestor,
stage 2 from 
                            <code>HEAD</code>, and stage 3 from 
                            <code>MERGE_HEAD</code> (you
can inspect the stages with 
                            <code>git ls-files -u</code>).  The working
tree files contain the result of the "merge" program; i.e. 3-way
merge results with familiar conflict markers 
                            <code>&lt;&lt;&lt;</code>
                            <code>===</code>
                            <code>&gt;&gt;&gt;</code>.
                        </p>
                    </li>
                    <li>
                        <p>No other changes are made.  In particular, the local
modifications you had before you started merge will stay the
same and the index entries for them stay as they were,
i.e. matching 
                            <code>HEAD</code>.
                        </p>
                    </li>
                </ol>
            </div>
            <div class="paragraph">
                <p>If you tried a merge which resulted in complex conflicts and
want to start over, you can recover with 
                    <code>git merge --abort</code>.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_merging_tag">MERGING TAG</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>When merging an annotated (and possibly signed) tag, Git always
creates a merge commit even if a fast-forward merge is possible, and
the commit message template is prepared with the tag message.
Additionally, if the tag is signed, the signature check is reported
as a comment in the message template. See also 
                    <a href="/docs/git-tag">git-tag[1]</a>.
                </p>
            </div>
            <div class="paragraph">
                <p>When you want to just integrate with the work leading to the commit
that happens to be tagged, e.g. synchronizing with an upstream
release point, you may not want to make an unnecessary merge commit.</p>
            </div>
            <div class="paragraph">
                <p>In such a case, you can "unwrap" the tag yourself before feeding it
to 
                    <code>git merge</code>, or pass 
                    <code>--ff-only</code> when you do not have any work on
your own. e.g.
                </p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>git fetch origin
git merge v1.2.3^0
git merge --ff-only v1.2.3</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_how_conflicts_are_presented">HOW CONFLICTS ARE PRESENTED</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>During a merge, the working tree files are updated to reflect the result
of the merge.  Among the changes made to the common ancestor’s version,
non-overlapping ones (that is, you changed an area of the file while the
other side left that area intact, or vice versa) are incorporated in the
final result verbatim.  When both sides made changes to the same area,
however, Git cannot randomly pick one side over the other, and asks you to
resolve it by leaving what both sides did to that area.</p>
            </div>
            <div class="paragraph">
                <p>By default, Git uses the same style as the one used by the "merge" program
from the RCS suite to present such a conflicted hunk, like this:</p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>Here are lines that are either unchanged from the common
ancestor, or cleanly resolved because only one side changed.
&lt;&lt;&lt;&lt;&lt;&lt;&lt; yours:sample.txt
Conflict resolution is hard;
let's go shopping.
=======
Git makes conflict resolution easy.
&gt;&gt;&gt;&gt;&gt;&gt;&gt; theirs:sample.txt
And here is another line that is cleanly resolved or unmodified.</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>The area where a pair of conflicting changes happened is marked with markers

                    <code>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</code>, 
                    <code>=======</code>, and 
                    <code>&gt;&gt;&gt;&gt;&gt;&gt;&gt;</code>.  The part before the 
                    <code>=======</code>
is typically your side, and the part afterwards is typically their side.
                </p>
            </div>
            <div class="paragraph">
                <p>The default format does not show what the original said in the conflicting
area.  You cannot tell how many lines are deleted and replaced with
Barbie’s remark on your side.  The only thing you can tell is that your
side wants to say it is hard and you’d prefer to go shopping, while the
other side wants to claim it is easy.</p>
            </div>
            <div class="paragraph">
                <p>An alternative style can be used by setting the "merge.conflictStyle"
configuration variable to "diff3".  In "diff3" style, the above conflict
may look like this:</p>
            </div>
            <div class="listingblock">
                <div class="content">
                    <pre>Here are lines that are either unchanged from the common
ancestor, or cleanly resolved because only one side changed.
&lt;&lt;&lt;&lt;&lt;&lt;&lt; yours:sample.txt
Conflict resolution is hard;
let's go shopping.
|||||||
Conflict resolution is hard.
=======
Git makes conflict resolution easy.
&gt;&gt;&gt;&gt;&gt;&gt;&gt; theirs:sample.txt
And here is another line that is cleanly resolved or unmodified.</pre>
                </div>
            </div>
            <div class="paragraph">
                <p>In addition to the 
                    <code>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</code>, 
                    <code>=======</code>, and 
                    <code>&gt;&gt;&gt;&gt;&gt;&gt;&gt;</code> markers, it uses
another 
                    <code>|||||||</code> marker that is followed by the original text.  You can
tell that the original just stated a fact, and your side simply gave in to
that statement and gave up, while the other side tried to have a more
positive attitude.  You can sometimes come up with a better resolution by
viewing the original.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_how_to_resolve_conflicts">HOW TO RESOLVE CONFLICTS</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>After seeing a conflict, you can do two things:</p>
            </div>
            <div class="ulist">
                <ul>
                    <li>
                        <p>Decide not to merge.  The only clean-ups you need are to reset
the index file to the 
                            <code>HEAD</code> commit to reverse 2. and to clean
up working tree changes made by 2. and 3.; 
                            <code>git merge --abort</code>
can be used for this.
                        </p>
                    </li>
                    <li>
                        <p>Resolve the conflicts.  Git will mark the conflicts in
the working tree.  Edit the files into shape and

                            <em>git add</em> them to the index.  Use 
                            <em>git commit</em> to seal the deal.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="paragraph">
                <p>You can work through the conflict with a number of tools:</p>
            </div>
            <div class="ulist">
                <ul>
                    <li>
                        <p>Use a mergetool.  
                            <code>git mergetool</code> to launch a graphical
mergetool which will work you through the merge.
                        </p>
                    </li>
                    <li>
                        <p>Look at the diffs.  
                            <code>git diff</code> will show a three-way diff,
highlighting changes from both the 
                            <code>HEAD</code> and 
                            <code>MERGE_HEAD</code>
versions.
                        </p>
                    </li>
                    <li>
                        <p>Look at the diffs from each branch. 
                            <code>git log --merge -p &lt;path&gt;</code>
will show diffs first for the 
                            <code>HEAD</code> version and then the

                            <code>MERGE_HEAD</code> version.
                        </p>
                    </li>
                    <li>
                        <p>Look at the originals.  
                            <code>git show :1:filename</code> shows the
common ancestor, 
                            <code>git show :2:filename</code> shows the 
                            <code>HEAD</code>
version, and 
                            <code>git show :3:filename</code> shows the 
                            <code>MERGE_HEAD</code>
version.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_examples">EXAMPLES</h2>
        <div class="sectionbody">
            <div class="ulist">
                <ul>
                    <li>
                        <p>Merge branches 
                            <code>fixes</code> and 
                            <code>enhancements</code> on top of
the current branch, making an octopus merge:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git merge fixes enhancements</pre>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Merge branch 
                            <code>obsolete</code> into the current branch, using 
                            <code>ours</code>
merge strategy:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git merge -s ours obsolete</pre>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>Merge branch 
                            <code>maint</code> into the current branch, but do not make
a new commit automatically:
                        </p>
                        <div class="listingblock">
                            <div class="content">
                                <pre>$ git merge --no-commit maint</pre>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p>This can be used when you want to include further changes to the
merge, or want to write your own merge commit message.</p>
                        </div>
                        <div class="paragraph">
                            <p>You should refrain from abusing this option to sneak substantial
changes into a merge commit.  Small fixups like bumping
release/version name would be acceptable.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_merge_strategies">MERGE STRATEGIES</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>The merge mechanism (
                    <code>git merge</code> and 
                    <code>git pull</code> commands) allows the
backend 
                    <em>merge strategies</em> to be chosen with 
                    <code>-s</code> option.  Some strategies
can also take their own options, which can be passed by giving 
                    <code>-X&lt;option&gt;</code>
arguments to 
                    <code>git merge</code> and/or 
                    <code>git pull</code>.
                </p>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">resolve</dt>
                    <dd>
                        <p>This can only resolve two heads (i.e. the current branch
and another branch you pulled from) using a 3-way merge
algorithm.  It tries to carefully detect criss-cross
merge ambiguities and is considered generally safe and
fast.</p>
                    </dd>
                    <dt class="hdlist1">recursive</dt>
                    <dd>
                        <p>This can only resolve two heads using a 3-way merge
algorithm.  When there is more than one common
ancestor that can be used for 3-way merge, it creates a
merged tree of the common ancestors and uses that as
the reference tree for the 3-way merge.  This has been
reported to result in fewer merge conflicts without
causing mismerges by tests done on actual merge commits
taken from Linux 2.6 kernel development history.
Additionally this can detect and handle merges involving
renames.  This is the default merge strategy when
pulling or merging one branch.</p>
                        <div class="paragraph">
                            <p>The 
                                <em>recursive</em> strategy can take the following options:
                            </p>
                        </div>
                        <div class="dlist">
                            <dl>
                                <dt class="hdlist1">ours</dt>
                                <dd>
                                    <p>This option forces conflicting hunks to be auto-resolved cleanly by
favoring 
                                        <em>our</em> version.  Changes from the other tree that do not
conflict with our side are reflected to the merge result.
For a binary file, the entire contents are taken from our side.
                                    </p>
                                    <div class="paragraph">
                                        <p>This should not be confused with the 
                                            <em>ours</em> merge strategy, which does not
even look at what the other tree contains at all.  It discards everything
the other tree did, declaring 
                                            <em>our</em> history contains all that happened in it.
                                        </p>
                                    </div>
                                </dd>
                                <dt class="hdlist1">theirs</dt>
                                <dd>
                                    <p>This is the opposite of 
                                        <em>ours</em>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">patience</dt>
                                <dd>
                                    <p>With this option, 
                                        <em>merge-recursive</em> spends a little extra time
to avoid mismerges that sometimes occur due to unimportant
matching lines (e.g., braces from distinct functions).  Use
this when the branches to be merged have diverged wildly.
See also 
                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>--patience</code>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">diff-algorithm=[patience|minimal|histogram|myers]</dt>
                                <dd>
                                    <p>Tells 
                                        <em>merge-recursive</em> to use a different diff algorithm, which
can help avoid mismerges that occur due to unimportant matching
lines (such as braces from distinct functions).  See also

                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>--diff-algorithm</code>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">ignore-space-change</dt>
                                <dt class="hdlist1">ignore-all-space</dt>
                                <dt class="hdlist1">ignore-space-at-eol</dt>
                                <dd>
                                    <p>Treats lines with the indicated type of whitespace change as
unchanged for the sake of a three-way merge.  Whitespace
changes mixed with other changes to a line are not ignored.
See also 
                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>-b</code>, 
                                        <code>-w</code>, and

                                        <code>--ignore-space-at-eol</code>.
                                    </p>
                                    <div class="ulist">
                                        <ul>
                                            <li>
                                                <p>If 
                                                    <em>their</em> version only introduces whitespace changes to a line,

                                                    <em>our</em> version is used;
                                                </p>
                                            </li>
                                            <li>
                                                <p>If 
                                                    <em>our</em> version introduces whitespace changes but 
                                                    <em>their</em>
version includes a substantial change, 
                                                    <em>their</em> version is used;
                                                </p>
                                            </li>
                                            <li>
                                                <p>Otherwise, the merge proceeds in the usual way.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </dd>
                                <dt class="hdlist1">renormalize</dt>
                                <dd>
                                    <p>This runs a virtual check-out and check-in of all three stages
of a file when resolving a three-way merge.  This option is
meant to be used when merging branches with different clean
filters or end-of-line normalization rules.  See "Merging
branches with differing checkin/checkout attributes" in

                                        <a href="/docs/gitattributes">gitattributes[5]</a> for details.
                                    </p>
                                </dd>
                                <dt class="hdlist1">no-renormalize</dt>
                                <dd>
                                    <p>Disables the 
                                        <code>renormalize</code> option.  This overrides the

                                        <code>merge.renormalize</code> configuration variable.
                                    </p>
                                </dd>
                                <dt class="hdlist1">rename-threshold=&lt;n&gt;</dt>
                                <dd>
                                    <p>Controls the similarity threshold used for rename detection.
See also 
                                        <a href="/docs/git-diff">git-diff[1]</a>
                                        <code>-M</code>.
                                    </p>
                                </dd>
                                <dt class="hdlist1">subtree[=&lt;path&gt;]</dt>
                                <dd>
                                    <p>This option is a more advanced form of 
                                        <em>subtree</em> strategy, where
the strategy makes a guess on how two trees must be shifted to
match with each other when merging.  Instead, the specified path
is prefixed (or stripped from the beginning) to make the shape of
two trees to match.
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </dd>
                    <dt class="hdlist1">octopus</dt>
                    <dd>
                        <p>This resolves cases with more than two heads, but refuses to do
a complex merge that needs manual resolution.  It is
primarily meant to be used for bundling topic branch
heads together.  This is the default merge strategy when
pulling or merging more than one branch.</p>
                    </dd>
                    <dt class="hdlist1">ours</dt>
                    <dd>
                        <p>This resolves any number of heads, but the resulting tree of the
merge is always that of the current branch head, effectively
ignoring all changes from all other branches.  It is meant to
be used to supersede old development history of side
branches.  Note that this is different from the -Xours option to
the 
                            <em>recursive</em> merge strategy.
                        </p>
                    </dd>
                    <dt class="hdlist1">subtree</dt>
                    <dd>
                        <p>This is a modified recursive strategy. When merging trees A and
B, if B corresponds to a subtree of A, B is first adjusted to
match the tree structure of A, instead of reading the trees at
the same level. This adjustment is also done to the common
ancestor tree.</p>
                    </dd>
                </dl>
            </div>
            <div class="paragraph">
                <p>With the strategies that use 3-way merge (including the default, 
                    <em>recursive</em>),
if a change is made on both branches, but later reverted on one of the
branches, that change will be present in the merged result; some people find
this behavior confusing.  It occurs because only the heads and the merge base
are considered when performing a merge, not the individual commits.  The merge
algorithm therefore considers the reverted change as no change at all, and
substitutes the changed version instead.
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_configuration">CONFIGURATION</h2>
        <div class="sectionbody">
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">merge.conflictStyle</dt>
                    <dd>
                        <p>Specify the style in which conflicted hunks are written out to
working tree files upon merge.  The default is "merge", which
shows a 
                            <code>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</code> conflict marker, changes made by one side,
a 
                            <code>=======</code> marker, changes made by the other side, and then
a 
                            <code>&gt;&gt;&gt;&gt;&gt;&gt;&gt;</code> marker.  An alternate style, "diff3", adds a 
                            <code>|||||||</code>
marker and the original text before the 
                            <code>=======</code> marker.
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.defaultToUpstream</dt>
                    <dd>
                        <p>If merge is called without any commit argument, merge the upstream
branches configured for the current branch by using their last
observed values stored in their remote-tracking branches.
The values of the 
                            <code>branch.&lt;current branch&gt;.merge</code> that name the
branches at the remote named by 
                            <code>branch.&lt;current branch&gt;.remote</code>
are consulted, and then they are mapped via 
                            <code>remote.&lt;remote&gt;.fetch</code>
to their corresponding remote-tracking branches, and the tips of
these tracking branches are merged.
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.ff</dt>
                    <dd>
                        <p>By default, Git does not create an extra merge commit when merging
a commit that is a descendant of the current commit. Instead, the
tip of the current branch is fast-forwarded. When set to 
                            <code>false</code>,
this variable tells Git to create an extra merge commit in such
a case (equivalent to giving the 
                            <code>--no-ff</code> option from the command
line). When set to 
                            <code>only</code>, only such fast-forward merges are
allowed (equivalent to giving the 
                            <code>--ff-only</code> option from the
command line).
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.branchdesc</dt>
                    <dd>
                        <p>In addition to branch names, populate the log message with
the branch description text associated with them.  Defaults
to false.</p>
                    </dd>
                    <dt class="hdlist1">merge.log</dt>
                    <dd>
                        <p>In addition to branch names, populate the log message with at
most the specified number of one-line descriptions from the
actual commits that are being merged.  Defaults to false, and
true is a synonym for 20.</p>
                    </dd>
                </dl>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">merge.renameLimit</dt>
                    <dd>
                        <p>The number of files to consider when performing rename detection
during a merge; if not specified, defaults to the value of
diff.renameLimit.</p>
                    </dd>
                    <dt class="hdlist1">merge.renormalize</dt>
                    <dd>
                        <p>Tell Git that canonical representation of files in the
repository has changed over time (e.g. earlier commits record
text files with CRLF line endings, but recent ones use LF line
endings).  In such a repository, Git can convert the data
recorded in commits to a canonical form before performing a
merge to reduce unnecessary conflicts.  For more information,
see section "Merging branches with differing checkin/checkout
attributes" in 
                            <a href="/docs/gitattributes">gitattributes[5]</a>.
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.stat</dt>
                    <dd>
                        <p>Whether to print the diffstat between ORIG_HEAD and the merge result
at the end of the merge.  True by default.</p>
                    </dd>
                    <dt class="hdlist1">merge.tool</dt>
                    <dd>
                        <p>Controls which merge tool is used by 
                            <a href="/docs/git-mergetool">git-mergetool[1]</a>.
The list below shows the valid built-in values.
Any other value is treated as a custom merge tool and requires
that a corresponding mergetool.&lt;tool&gt;.cmd variable is defined.
                        </p>
                    </dd>
                </dl>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">merge.verbosity</dt>
                    <dd>
                        <p>Controls the amount of output shown by the recursive merge
strategy.  Level 0 outputs nothing except a final error
message if conflicts were detected. Level 1 outputs only
conflicts, 2 outputs conflicts and file changes.  Level 5 and
above outputs debugging information.  The default is level 2.
Can be overridden by the 
                            <em>GIT_MERGE_VERBOSITY</em> environment variable.
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.&lt;driver&gt;.name</dt>
                    <dd>
                        <p>Defines a human-readable name for a custom low-level
merge driver.  See 
                            <a href="/docs/gitattributes">gitattributes[5]</a> for details.
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.&lt;driver&gt;.driver</dt>
                    <dd>
                        <p>Defines the command that implements a custom low-level
merge driver.  See 
                            <a href="/docs/gitattributes">gitattributes[5]</a> for details.
                        </p>
                    </dd>
                    <dt class="hdlist1">merge.&lt;driver&gt;.recursive</dt>
                    <dd>
                        <p>Names a low-level merge driver to be used when
performing an internal merge between common ancestors.
See 
                            <a href="/docs/gitattributes">gitattributes[5]</a> for details.
                        </p>
                    </dd>
                </dl>
            </div>
            <div class="dlist">
                <dl>
                    <dt class="hdlist1">branch.&lt;name&gt;.mergeOptions</dt>
                    <dd>
                        <p>Sets default options for merging into branch &lt;name&gt;. The syntax and
supported options are the same as those of 
                            <em>git merge</em>, but option
values containing whitespace characters are currently not supported.
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_see_also">SEE ALSO</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>
                    <a href="/docs/git-fmt-merge-msg">git-fmt-merge-msg[1]</a>, 
                    <a href="/docs/git-pull">git-pull[1]</a>,

                    <a href="/docs/gitattributes">gitattributes[5]</a>,

                    <a href="/docs/git-reset">git-reset[1]</a>,

                    <a href="/docs/git-diff">git-diff[1]</a>, 
                    <a href="/docs/git-ls-files">git-ls-files[1]</a>,

                    <a href="/docs/git-add">git-add[1]</a>, 
                    <a href="/docs/git-rm">git-rm[1]</a>,

                    <a href="/docs/git-mergetool">git-mergetool[1]</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sect1">
        <h2 id="_git">GIT</h2>
        <div class="sectionbody">
            <div class="paragraph">
                <p>Part of the 
                    <a href="/docs/git">git[1]</a> suite
                </p>
            </div>
        </div>
    </div>
</div>